{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<style>
label {
  visibility: hidden;
}
</style>

<br/><br/><br/><br/><br/>
<h3>{% trans "Thank you very much for your participation in this study!" %}</h3>
<p>{% blocktrans %}After being matched with the other players, your earnings have been calculated as {{payoff}}.{% endblocktrans %}</p>

{% if chosen_game == 'trust' and role == 'A' %}
  <p>
    {% trans "You were selected to receive your reward based on your earnings in Task One." %} <br>
    {% blocktrans %}As Player A, you decided to transfer {{trust_game_player_a_transfer}} euros to player B.{% endblocktrans %}<br>
    {% blocktrans %}Following, player B returned {{trust_game_player_b_transfer}} to you.{% endblocktrans %}<br>
    {% blocktrans %}Therefore, your total payoff for this task is {{payoff}}.{% endblocktrans %}
  </p>

{% elif chosen_game == 'trust' and role == 'B' %}
  <p>
    {% blocktrans %}You were selected to receive your reward based on your earnings in Task One.{% endblocktrans %}
    {% blocktrans %}As Player B, you received {{trust_game_player_a_transfer}} euros from player A.{% endblocktrans %}<br>
    {% blocktrans %}You decided to transfer {{trust_game_player_b_transfer}} euros back to player A.{% endblocktrans %}<br>
    {% blocktrans %}Therefore, your total payoff for this task is {{payoff}} euros.{% endblocktrans %}
  </p>

{% elif chosen_game == 'public_goods' %}
  <p>
    {% blocktrans %}You were selected to receive your reward based on your earnings in Task Two.{% endblocktrans %} <br>
    {% blocktrans %}In this task, you invested {{pg_player_a_transfer}} into the joint project. The contributions of the other players were:{% endblocktrans %}
  </p>

  <ul>
    <li>{{pg_player_b_transfer}}</li>
    <li>{{pg_player_c_transfer}}</li>
    <li>{{pg_player_d_transfer}}</li>
  </ul>

  <p>
    {% blocktrans %}Collectively, you invested {{pg_amount}}. Your earnings from the joint project after the multiplication factor are {{pg_multiplied_amount}}.{% endblocktrans %}<br>
    {% blocktrans %}In total, your payoff for this task is {{payoff}}.{% endblocktrans %}
  </p>

{% elif chosen_game == 'dictator' and role == 'A' %}
  <p>
    {% blocktrans %}You were selected to receive your reward based on your earnings in Task Three.{% endblocktrans %}<br>
    {% blocktrans %}In this task, you decided to transfer {{dictator_player_a_transfer}} to player B.{% endblocktrans %}<br>
    {% blocktrans %}Your remaining endowment after the transfer is {{dictator_player_a_payoff}}.{% endblocktrans %}<br>
    {% blocktrans %}In total, your payoff for this task is {{dictator_player_a_payoff}}.{% endblocktrans %}
  </p>

{% elif chosen_game == 'dictator' and role == 'B' %}
  <p>
    {% blocktrans %}You were selected to receive your reward based on your earnings in Task Three.{% endblocktrans %}<br>
    {% blocktrans %}In this task, you were selected to be Player B.{% endblocktrans %}<br>
    {% blocktrans %}In this task, the Player A you were matched with decided to transfer you {{dictator_player_a_transfer}}.{% endblocktrans %}<br>
    {% blocktrans %}In total, your payoff for this task is {{dictator_global_a_transfer}}.{% endblocktrans %}
  </p>

{% endif %}

<p>
  {% trans "Out of your earnings, you have the option to donate an amount of your choice to UNICEF, who work with children and mothers in developing countries." %} <br>
  {% trans "You can find further information about their work here. Please enter the amount you wish to donate to UNICEF:" %}
</p>

{% formfield player.donation %}

<p>{% trans "(Should you not wish to donate anything at this point, please enter 0)." %}</p>
<p>{% trans "Once again, thank you very much for participating. You will now be redirected in order to collect your reward." %}</p>

<p><button class="btn btn-primary">{% trans "Finish study" %}</button></p>

<script type="text/javascript">
  $(function() {
    var payoff = +{{float_payoff}}
    $('input[name="donation"]').attr('max', payoff);

    /*$('form').submit(function (e) {
      // IE hack.
      if (window.event) {
          window.event.returnValue = false;
      }
      e.preventDefault();

      var lang = extractLang('{{language_code}}');
      var fragment, url;
      var csrf = $('input[name="csrfmiddlewaretoken"]').val();
      var postTo = $('input[name="origin_url"]').val();

      // Capture donation. Ensure amount cannot surpass final payoff.
      var donation = $('input[name="donation"]').val();
      donation = donation.trim() === '' ? 0 : +donation;
      donation = donation > payoff ? payoff : donation;

      if (lang === 'ko') {
        url = '{{redirect}}';
      } else {
        fragment = '{{label}}'.split('|').filter(function (f) {
          if (f.indexOf('ac') > -1 || f.indexOf('sc') > -1 || f.indexOf('sn') > -1 || f.indexOf('z') > -1) {
            return f;
          }
        }).join('&');

        url = '{{redirect}}' + '?' + fragment + '&lang=' + lang;
      }

      // Return fragment of locale from given locale.
      function extractLang(lang) {
        return lang.length > 2 ? lang.slice(0, 2) : lang;
      }

      // Send payload, then redirect.
      $.post(postTo, {csrfmiddlewaretoken: csrf, origin_url: postTo, donation: donation,}, function (data) {
        window.location.href = url;
      });*/
    });
  });
</script>


{% endblock %}
