{% extends "global/Base.html" %}
{% load otree_tags %}
{% load i18n %}

{% block content %}
<br/><br/><br/><br/><br/>
<h3>{% trans "Thank you very much for your participation in this study!" %}</h3>
<p>{% trans "Your survey responses have been correctly recorded. " %}</p>

<p>{% trans "After being matched with the other players, your earnings have been calculated as " %} <strong>{{payoff}}</strong></p>
<p>{% trans "This money will be paid to you via Paypal – you will receive an email with more information on how to proceed shortly." %}</p>

<p>{% trans "Once again, thank you very much for participating." %}</p>
<p><button class="btn btn-primary">{% trans "Finish study" %}</button></p>
{% endblock %}
