{% extends "global/Base.html" %}
{% load otree_tags %}
{% load i18n %}

{% block content %}
  <style type="text/css">
    label {font-weight: normal}
  </style>

  <label class="control-label" for="id_household_income_in_the_last_12_months">
  {% trans "In the last 12 months, what was the total income <strong>of your household</strong> after taxes have been deducted? (Income can come salaries and wages, profit from self-employment, interest, rent, pension, social insurance payments and other benefits, among others):" %}
  </label>
  {% formfield player.household_income_in_the_last_12_months with label="" %}
  <div class="checkbox">
    <label>
      <input type="checkbox"> {% trans "I don't know" %}
    </label>
  </div>

  <div class="form-group required">
    <label class="control-label" for="id_household_income_confirmation">{% trans "Just to confirm, which of these income bands corresponds best to your household income? Remember, we are asking for your household income, after taxes have been deducted." %}</label>
      <div class="controls  field-household_income_confirmation">
        <ul>
          {% for choice in choices %}
            <li><label for="id_household_income_confirmation_{{forloop.counter0}}"><input type="radio" id="id_household_income_confirmation_{{index}}" value="{{choice}}" name="household_income_confirmation" required> {{choice}}</label></li>
          {% endfor %}
        </ul>
      </div>
    </div>

  <p><button class="btn btn-primary pull-right">{% trans "Next" %}</button></p>

  <script>
    $(function () {
      var $input = $('input[name="household_income_in_the_last_12_months"]'),
          $dk = $('input[type="checkbox"]');

      var $form = $('form'),
          $btn = $('.btn');

      // Reset form input.
      $input.attr('value', '');

      $btn.on('click', function (e) {
        if (+$input.val() < 0 || !$input.val().trim() || $dk.is(':checked')) {
          $input.val(-1);
          $form.submit();
        }
      });
    })
  </script>

{% endblock %}
