{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}
<style>
  label {
    font-weight: normal;
  }
</style>
  <br/><br/><br/><br/><br/>
  <p>
    <label class="control-label" for="id__10A_household_income">{% trans "In the last 12 months, what was the total income of your household after taxes have been deducted? (Income can come from any of the sources mentioned in the previous question.)" %}</label>
    <div class="controls  field-_10A_household_income">
      <div class="input-group input-group-narrow">
        <span class="input-group-addon">{{currency}}</span>
        <input type="number" name="_10A_household_income" id="id__10A_household_income" step="0.01" class="form-control">
      </div>
    </div>

    <div class="controls">
      <div class="checkbox">
        <label><input type="checkbox" name="_10A_household_income_2" value="{{dont_know}}">{{dont_know}}</label>
      </div>
    </div>
  </p>

  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>

  <script>
    $(function () {
      var $dontKnow = $('[name=_10A_household_income_2]');

      $('.btn').click(function (e) {
        e.preventDefault();

        if ($dontKnow.prop('checked')) {
          $('#id__10A_household_income').val(-1)
        }

        if ($('#id__10A_household_income').val() !== '') {
          $('form').submit();
        }
      });
    })
  </script>
{% endblock %}
