{% extends "global/Base.html" %}
{% load otree_tags %}
{% load i18n %}

{% block content %}

  <style type="text/css">
    label {font-weight: normal}
  </style>

  <label class="control-label" for="id_individual_income_in_the_last_12_months">
  {% trans "In the last 12 months, what was your total income, the income that you received <strong>as an individual</strong>, after taxes have been deducted? (Income can come salaries and wages, profit from self-employment, interest, rent, pension, social insurance payments and other benefits, among others):" %}
  </label>
  {% formfield player.individual_income_in_the_last_12_months with label="" %}
  <div class="checkbox">
    <label>
      <input type="checkbox"> {% trans "I don't know" %}
    </label>
  </div>

  <label class="control-label" for="id_individual_income_confirmation">
  {% trans "Just to confirm, which of these income bands corresponds best to your <strong>personal income</strong>? Remember, we are asking for <strong>your individual income</strong>, after taxes have been deducted." %}
  </label>
  {% formfield player.individual_income_confirmation with label="" %}

  <p><button type="button" class="btn btn-primary pull-right">{% trans "Next" %}</button></p>

  <script>
    $(function () {
      var $input = $('input[name="individual_income_in_the_last_12_months"]'),
          $dk = $('input[type="checkbox"]');

      var $form = $('form'),
          $btn = $('.btn');

      // Reset form input.
      $input.attr('value', '');

      $btn.on('click', function (e) {
        if (+$input.val() < 0 || $input.val() === '' || $dk.is(':checked')) {
          $input.val(-1);
        }
        $form.submit();
      });
    })
  </script>

{% endblock %}
