{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}
<style>
  label {
    font-weight: normal;
  }

  .control-label {font-weight: bold}
</style>
  <br/><br/><br/><br/><br/>

  <div class="form-group" required>
    <label class="control-label" for="id__10_main_ways_income">
      {% trans "What are all the ways that you <u>as an individual</u> got income in the last 12 months ending today? <br/>Please choose the three most relevant options. <br/><br/>Please do not count loans as income." %}
    </label>
    <div class="controls">
      <input required="required" type="hidden" id="id__10_main_ways_income" name="_10_main_ways_income">
      <div class="checkbox">
        <label><input type="checkbox" name="_10_main_ways_income" value="Salaries and wages">{% trans "Salaries and wages" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_main_ways_income" value="Profit from self-employment or business">{% trans "Profit from self-employment or business" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_main_ways_income" value="Interest, dividends, rent, other investments">{% trans "Interest, dividends, rent, other investments" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_main_ways_income" value="Pension">{% trans "Pension" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_main_ways_income" value="Social insurance payments, state benefits">{% trans "Social insurance payments, state benefits" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_main_ways_income" value="Other sources of income">{% trans "Other sources of income" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_main_ways_income" value="No source of income during that time">{% trans "No source of income during that time" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_main_ways_income" value="Don't know">{% trans "Don't know" %}</label>
      </div>
    </div>
  </div>

  <hr>

  <p><em>{% trans "Now think about the income of your household. This can be just you, or the collective income of your family, your parents, or whoever you share your income and expenditures with." %}</em></p>

  <div class="form-group" required>
    <label class="control-label" for="id__10_household_income">
      {% trans "What are the main ways that <u>your household</u> received income in the last 12 months? <br/>Please choose the three most relevant options. <br/><br/>Please do not count loans as income." %}
    </label>
    <div class="controls">
      <input required="required" type="hidden" id="id__10_household_income" name="_10_household_income">
      <div class="checkbox">
        <label><input type="checkbox" name="_10_household_income" value="Salaries and wages">{% trans "Salaries and wages" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_household_income" value="Profit from self-employment or business">{% trans "Profit from self-employment or business" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_household_income" value="Interest, dividends, rent, other investments">{% trans "Interest, dividends, rent, other investments" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_household_income" value="Pension">{% trans "Pension" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_household_income" value="Social insurance payments, state benefits">{% trans "Social insurance payments, state benefits" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_household_income" value="Other sources of income">{% trans "Other sources of income" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_household_income" value="No source of income during that time">{% trans "No source of income during that time" %}</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="_10_household_income" value="Don't know">{% trans "Don't know" %}</label>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      $('.btn').click(function (e) {
        e.preventDefault();

        var selectMultipleValueIncomeA = '',
        var selectMultipleValueIncomeB = '',
            $selectionsIncomeA = $('input[type="checkbox"][name="_10_main_ways_income"]:checked'),
            $selectionsIncomeB = $('input[type="checkbox"][name="_10_household_income"]:checked');

        $selectionsIncomeA.each(function (i, elm) {
          selectMultipleValueIncomeA += $(elm).val();
          if ($selectionsIncomeA.length != i + 1) {
            selectMultipleValueIncomeA += '|';
          }
        });

        $selectionsIncomeB.each(function (i, elm) {
          selectMultipleValueIncomeB += $(elm).val();
          if ($selectionsIncomeB.length != i + 1) {
            selectMultipleValueIncomeB += '|';
          }
        });

        if (selectMultipleValueIncomeA !== '' && selectMultipleValueIncomeB !== '') {
          $('#id__10_main_ways_income').val(selectMultipleValueIncomeA);
          $('#id__10_household_income').val(selectMultipleValueIncomeB);
          $('form').submit();
        }
      });
    });
  </script>

  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>
{% endblock %}
