{% extends "global/Base.html" %}
{% load otree_tags %}
{% load static %}
{% load i18n %}

{% block script %}
<script src="{% static "/global/custom.js" %}"></script>
{% endblock %}

{% block content %}

  <style>
    thead tr th {
      text-align: center;
    }

    th div, th em {
      font-weight: normal;
    }

    th em {
      font-size: 85%;
    }

    input[type=number].form-control {
      width: 100%;
      text-align: center;
    }

    #total {
      font-weight: bold;
      color: red;
    }

    #total.valid {
      color: green;
    }
  </style>

  <p>{% trans "Now we turn to government spending. The following is a list of key categories of government expenditures." %}
  <br>{% trans "The box on the left contains the current percentage of government expenditures allocated to this category in [country]." %}
  <br>{% trans "Please enter in the box on the right your preferred distribution for each category (together the categories must sum to 100%)." %}</p>

  <div class="table-responsive">
    <table class="table table-hover">

      <thead>
        <tr>
          <th></th>
          <th>
            <strong>{% trans "Current spending in [country]" %}</strong>
            <br><em>{% trans "% of total public spending" %}</em>
          </th>
          <th>
            <strong>{% trans "Preferred" %}</strong>
            <br><em>{% trans "% of total public spending" %}</em>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>
            <strong>{% trans "General public services and public debt" %}</strong>
            <div>{% trans "(general government administration costs, international aid, public debt interest payments)" %}</div>
          </th>
          <td>
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="17"
                disabled>
            </div>
          </td>
          <td>
            <div class="form-group">
              <input
                id="id_expenditure_general_public_services_and_public_debt"
                name="expenditure_general_public_services_and_public_debt"
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="0">
            </div>
          </td>
        </tr>

        <tr>
          <th>
            <strong>{% trans "Defense and public order" %}</strong>
            <div>{% trans "(includes military spending, police services, law and order)" %}</div>
          </th>
          <td>
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="9"
                disabled>
            </div>
          </td>
          <td>
            <div class="form-group">
              <input
                id="id_expenditure_defense_and_public_order"
                name="expenditure_defense_and_public_order"
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="0"
                required>
            </div>
          </td>
        </tr>

        <tr>
          <th>
            <strong>{% trans "Infrastructure and economic affairs" %}</strong>
            <div>{% trans "(provision of transport infrastructure, investments in agriculture, mining and energy industries)" %}</div>
          </th>
          <td>
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="11"
                disabled>
            </div>
          </td>
          <td>
            <div class="form-group">
              <input
                id="id_expenditure_infrastucture_and_economic_affair"
                name="expenditure_infrastucture_and_economic_affair"
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="0"
                required>
            </div>
          </td>
        </tr>

        <tr>
          <th>
            <strong>{% trans "Health and environmental protection" %}</strong>
            <div>{% trans "(includes provision of public medical services and public environmental services)" %}</div>
          </th>
          <td>
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="20"
                disabled>
            </div>
          </td>
          <td>
            <div class="form-group">
              <input
                id="id_expenditure_health_and_environmental_protection"
                name="expenditure_health_and_environmental_protection"
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="0"
                required>
            </div>
          </td>
        </tr>

        <tr>
          <th>
            <strong>{% trans "Education and culture" %}</strong>
            <div>{% trans "(includes public provision of  education services, and public cultural spending)" %}</div>
          </th>
          <td>
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="20"
                disabled>
            </div>
          </td>
          <td>
            <div class="form-group">
              <input
                id="id_expenditure_education_and_culture"
                name="expenditure_education_and_culture"
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="0"
                required>
            </div>
          </td>
        </tr>

        <tr>
          <th>
            <strong>{% trans "Social protection and housing" %}</strong>
            <div>{% trans "(social transfers including for elderly, disabled, unemployed and low income people)" %}</div>
          </th>
          <td>
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="28"
                disabled>
            </div>
          </td>
          <td>
            <div class="form-group">
              <input
                id="id_expenditure_social_protection_and_housing"
                name="expenditure_social_protection_and_housing"
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="0"
                required>
            </div>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="100"
                disabled>
            </div>
          </td>
          <td>
            <div class="form-group">
              <input
                id="total"
                name="total"
                type="number"
                class="form-control"
                min="0"
                max="100"
                value="0"
                disabled>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <p id="feedback" class="col-sm-12"></p>
  </div>

  <div class="row">
    <button class="btn btn-primary pull-right" disabled>{% trans "Next" %}</button>
  </div>

  <script>
    $(function () {
      var $exp1 = $('#id_expenditure_general_public_services_and_public_debt'),
          $exp2 = $('#id_expenditure_defense_and_public_order'),
          $exp3 = $('#id_expenditure_infrastucture_and_economic_affair'),
          $exp4 = $('#id_expenditure_health_and_environmental_protection'),
          $exp5 = $('#id_expenditure_education_and_culture'),
          $exp6 = $('#id_expenditure_social_protection_and_housing'),
          $feedback = $('#feedback'),
          $totalValueDisplay = $('#total'),
          $btn = $('.btn');

      var MAX = 100,
          FEEDBACK_EXACT = '{% trans "You have reached a balanced spending distribution. You can still make changes, or, if you are happy with this distribution of expenditures, you can proceed to the next question." %}',
          FEEDBACK_NOT_ENOUGH = '{% trans "You have not spent enough. Please increase spending in one or more categories." %}',
          FEEDBACK_TOO_MUCH = '{% trans "You are currently spending too much. Please lower spending in one or more categories." %}';

      var $inputs = [$exp1, $exp2, $exp3, $exp4, $exp5, $exp6];

      var eventName = getInputEventName();

      $inputs.forEach(function ($input) {
        $input.on(eventName, update);
      });

      function setFeedback(type) {
        var className,
            baseClassName = 'col-sm-12',
            totalTooHighError = false,
            canProceed = false;

        switch (type) {
          case FEEDBACK_EXACT:
            className = 'text-success';
            canProceed = true;
            break;

          case FEEDBACK_NOT_ENOUGH:
            className = 'text-warning';
            break;

          case FEEDBACK_TOO_MUCH:
            className = 'text-danger';
            totalTooHighError = true;
            break;
        }

        setTimeout(function () {
          $feedback
            .removeClass()
            .addClass(baseClassName + ' ' +className)
            .html(type);

          if (totalTooHighError) {
            $totalValueDisplay.addClass('error');
          } else {
            $totalValueDisplay.removeClass('error');
          }

          canProceed ? $btn.removeAttr('disabled') : $btn.attr('disabled', true);
        }, 0);
      }

      function update() {
        var total = $inputs
          .map(function ($input) {
            return +$input.val();
          })
          .reduce(function (prev, curr) {
            return prev + curr;
          });

        $totalValueDisplay.val(total);

        if (total > MAX) {
          setFeedback(FEEDBACK_TOO_MUCH);
        } else {
          var feedbackType = total === 100 ? FEEDBACK_EXACT : FEEDBACK_NOT_ENOUGH;
          setFeedback(feedbackType);
        }

        if (total === MAX) {
          $totalValueDisplay.addClass('valid');
          $btn.removeAttr('disabled');
        } else {
          $totalValueDisplay.removeClass('valid');
          $btn.attr('disabled', true);
        }
      }
    });
  </script>

{% endblock %}
