{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}
<style>
  li {
    display: inline-block;
    margin-right: 10px;
  }

  li:nth-child(12) {
    display: block;
  }

  .controls ul li label {
    color: #357EBD;
  }

  label {font-weight: normal;}
  .control-label {
    font-weight: bold;
    color: #357EBD;
  }
  </style>
  <br/><br/><br/><br/>
  <p>{{instructions}}</p>
  <br/>
  <p><strong>{% trans "How much trust do you have in the following to act in the best interest of society?" %}</strong>
  <br/><br/>
  <p>
      {% formfield player._05_your_government %}
      <hr>
      {% formfield player._05_the_parliament %}
      <hr>
      {% formfield player._05_the_judicial_system %}
      <hr>
      {% formfield player._05_the_police %}
      <hr>
      {% formfield player._05_the_media %}
      <hr>
      {% formfield player._05_financial_institutions %}

  </p>
  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>
{% endblock %}
