{% extends "global/Base.html" %}
{% load otree_tags %}
{% load i18n %}

{% block content %}

  <style>
    label {
      font-weight: normal;
    }
  </style>

  <label class="control-label" for="id_highest_level_of_education_you_have_completed">
    {% trans "What is the highest level of education <strong>you</strong> have completed?" %}:
  </label>

  {% formfield player.highest_level_of_education_you_have_completed with label="" %}

  <p><button class="btn btn-primary pull-right">{% trans "Next" %}</button></p>

{% endblock %}
