{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}
<style>
  li {
    display: inline-block;
    margin-right: 10px;
  }

  li:nth-child(12) {
    display: block;
  }

  .controls ul li label {
    color: #357EBD;
  }

  label {font-weight: normal;}
  .control-label {
    font-weight: bold;
  }
</style>

  <br/><br/><br/><br/><br/>
  <p>
      {% formfield player._04C_wallet %}
      {% formfield player._04C_you_vote_in_the_last_national_election %}
  </p>
  <p>How well does the following statement describe you as a person?</p>
  <p>{% formfield player._04C_good_at_math %}</p>
  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>
{% endblock %}
