{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}

<style>
  label {
    font-weight: normal;
  }

  .control-label {font-weight: bold}
</style>
  <br/><br/><br/><br/><br/>
  <p>{% trans "What is the highest level of education that you have completed?" %}</p>
  <p>
    <div class="controls field-_08_highest_level_of_education_that_you_have_completed">
      <ul>
        <li><label for="id__08_highest_level_of_education_that_you_have_completed_1"><input type="radio" id="id__08_highest_level_of_education_that_you_have_completed_1" value="{{fields.f01}}" name="_08_highest_level_of_education_that_you_have_completed" required=""> {{fields.f01}}</label></li>
        <li><label for="id__08_highest_level_of_education_that_you_have_completed_2"><input type="radio" id="id__08_highest_level_of_education_that_you_have_completed_2" value="{{fields.f02}}" name="_08_highest_level_of_education_that_you_have_completed" required=""> {{fields.f02}}</label></li>
        <li><label for="id__08_highest_level_of_education_that_you_have_completed_3"><input type="radio" id="id__08_highest_level_of_education_that_you_have_completed_3" value="{{fields.f03}}" name="_08_highest_level_of_education_that_you_have_completed" required=""> {{fields.f03}}</label></li>
        <li><label for="id__08_highest_level_of_education_that_you_have_completed_4"><input type="radio" id="id__08_highest_level_of_education_that_you_have_completed_4" value="{{fields.f04}}" name="_08_highest_level_of_education_that_you_have_completed" required=""> {{fields.f04}}</label></li>
        <li><label for="id__08_highest_level_of_education_that_you_have_completed_5"><input type="radio" id="id__08_highest_level_of_education_that_you_have_completed_5" value="{{fields.f05}}" name="_08_highest_level_of_education_that_you_have_completed" required=""> {{fields.f05}}</label></li>
        <li><label for="id__08_highest_level_of_education_that_you_have_completed_6"><input type="radio" id="id__08_highest_level_of_education_that_you_have_completed_6" value="{{fields.f06}}" name="_08_highest_level_of_education_that_you_have_completed" required=""> {{fields.f06}}</label></li>
        {% if lang == 'fr' %}
          <li><label for="id__08_highest_level_of_education_that_you_have_completed_7"><input type="radio" id="id__08_highest_level_of_education_that_you_have_completed_7" value="{{fields.f07}}" name="_08_highest_level_of_education_that_you_have_completed" required=""> {{fields.f07}}</label></li>
        {% endif %}
      </ul>
    </div>
  </p>
  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>
{% endblock %}
