{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block content %}

<p>{% trans "Thank you very much for your participation in this study!" %}</p>
<p>{% trans "Your survey responses have been correctly recorded. " %}</p>

<p>{% trans "After being matched with the other players, your earnings have been calculated as _________ Euro." %}</p>
<p>{% trans "This money will be paid to you via Paypal – you will receive an email with more information on how to proceed shortly." %}</p>

<p>{% trans "Additionally, you have the option to donate none, some or all of your earnings to UNICEF. UNICEF provides humanitarian and development assistance to children and mothers in developing countries. You can find more information here." %}</p>

<p>{% trans "Please enter the amount you wish to donate to UNICEF: ________" %}</p>
<p>{% trans "If you do not wish to donate anything, enter 0." %}</p>

<p>{% trans "Once again, thank you very much for participating." %}</p>
<p><button class="btn btn-primary">{% trans "Finish study" %}</button></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<input id="timer" type="hidden" name="total_time" value="" />

<script type="text/javascript">
  $(function() {
    var startTime = '{{start_time}}',
        endTime = new Date(),
        sec = moment(endTime).diff(startTime) / 1000;

    $('#timer').val(sec);
  });
</script>


{% endblock %}
