{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}
<style>
  li {
    display: inline-block;
    margin-right: 10px;
  }

  li:nth-child(12) {
    display: block;
  }
  </style>
  <p>{% trans "Do you agree with the following statements?" %}</p>
  <p>
      {% formfield player._06_public_institutions_deliver_services_in_the_best_way %}
      {% formfield player._06_public_institutions_pursue_long_term_objectives %}
      {% formfield player._06_people_working_in_public_institutions_ethical %}
      {% formfield player._06_public_institutions_are_transparent %}
      {% formfield player._06_public_institutions_treat_all_citizens_fairly %}
  </p>
  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>
{% endblock %}
