{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}
<style>
  label {
    font-weight: normal;
  }
</style>
  <br/><br/><br/><br/><br/>
  <p>
      {% formfield player._09_do_you_work_in_the %}
      <hr>
      {% formfield player._09_would_you_say_that_most_people_can_be_trusted %}
      <hr>

      <label class="control-label" for="id__09_got_income_in_the_last_12_months_ending_today">
        {% trans "What are all the ways that you got income in the last 12 months ending today? You can choose as many as you need. <br/>Please do not count loans as income." %}
      </label>

      <input type="hidden" id="id__09_got_income_in_the_last_12_months_ending_today" name="_09_got_income_in_the_last_12_months_ending_today">
      <select multiple="multiple" maxlength="500" id="helper__09_got_income_in_the_last_12_months_ending_today">
        <option value="Wages, salary, commissions, bonuses etc paid by employer">{% trans "Wages, salary, commissions, bonuses etc paid by employer" %}</option>
        <option value="Self-employment or business">{% trans "Self-employment or business" %}</option>
        <option value="Interest, dividends, rent, other investments">{% trans "Interest, dividends, rent, other investments" %}</option>
        <option value="Regular payments from a workplace accident insurer">{% trans "Regular payments from a workplace accident insurer" %}</option>
        <option value="Pension">{% trans "Pension" %}</option>
        <option value="Social insurance payments, state benefits">{% trans "Social insurance payments, state benefits" %}</option>
        <option value="Other sources of income">{% trans "Other sources of income" %}</option>
        <option value="No source of income during that time">{% trans "No source of income during that time" %}</option>
        <option value="Don't know">{% trans "Don't know" %}</option>
      </select>

  </p>
  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>

  <script type="text/javascript">
    $(function() {
      $('.btn').click(function (e) {
        e.preventDefault();

        var selectMultipleValue = '',
            $selections = $('select option:selected');

        $selections.each(function (i, elm) {
          selectMultipleValue += $(elm).val();
          if ($selections.length != i + 1) {
            selectMultipleValue += ' | ';
          }
        });

        $('#id__09_got_income_in_the_last_12_months_ending_today').val(selectMultipleValue);
        $('form').submit();
      });
    });
  </script>
{% endblock %}
