{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}
  <p>
      <p>{{q_1_7_label}}</p>
      <table class="table">
        <thead>
          <tr>
            <th>{{q_1_7_label_1}}</th>
            <th>{{q_1_7_label_2}}</th>
            <th>{{q_1_7_label_3}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{% formfield player.q_1_7_1 with label='' %}</td>
            <td>{% formfield player.q_1_7_2 with label='' %}</td>
            <td>{% formfield player.q_1_7_3 with label='' %}</td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>{{q_1_7_label_4}}</th>
            <th>{{q_1_7_label_5}}</th>
            <th>{{q_1_7_label_6}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{% formfield player.q_1_7_4 with label='' %}</td>
            <td>{% formfield player.q_1_7_5 with label='' %}</td>
            <td>{% formfield player.q_1_7_6 with label='' %}</td>
          </tr>
        </tbody>
      </table>
  </p>
  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>
{% endblock %}
