{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}


{% block content %}
<style type="text/css">label {font-weight: normal;}</style>
<h1 style="color:#008068">{% trans "Task Two: Real decision continued" %}</h1>
<p>{% trans "Now imagine that this time, you find out how much money the other three members of your group are transferring into the joint pot." %}</p>
<p>{% trans "All of your choices below can impact how much money you will receive at the end of the study." %}</p>
    <hr/>
    {% formfield player.contribution_back_0 with label=contribution_back_0_label %}
    {% formfield player.contribution_back_1 with label=contribution_back_1_label %}
    {% formfield player.contribution_back_2 with label=contribution_back_2_label %}
    {% formfield player.contribution_back_3 with label=contribution_back_3_label %}
    {% formfield player.contribution_back_4 with label=contribution_back_4_label %}
    {% formfield player.contribution_back_5 with label=contribution_back_5_label %}
    {% formfield player.contribution_back_6 with label=contribution_back_6_label %}
    {% formfield player.contribution_back_7 with label=contribution_back_7_label %}
    {% formfield player.contribution_back_8 with label=contribution_back_8_label %}
    {% formfield player.contribution_back_9 with label=contribution_back_9_label %}
    {% formfield player.contribution_back_10 with label=contribution_back_10_label %}
    <p>
        <button class="btn btn-primary">{% trans "Next" %}</button>
    </p>

{% endblock %}
