{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
    <h1 style="color:#008068">{% trans "Task 2: Real task" %}</h1>
    <p>{% trans "Now the real task 2 starts. Once you have made your decision and clicked the “Next” button, you cannot return to this screen." %}</p>
    <p>{% trans "Like the other players, you have <strong>$10</strong> in your possession. <strong>How much do you want to invest into the common project?</strong>" %}</p>
    <hr/>
    {% formfield player.contribution with label=contribution_label %}

    <button class="btn btn-primary">{% trans "Next" %}</button>


{% endblock %}
