{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
    <h1 style="color:#008068">{% trans "Task Two: Real Decision" %}</h1>
    <p>{% trans "Now the real task starts. Once you have made your decision and clicked the “Next” button, you cannot return to this screen." %}</p>
    <p>{% trans "You have $10 in your possession. <strong>How much do you want to invest into the joint project?</strong>" %}</p>
    <hr/>
    {% formfield player.contribution with label=contribution_label %}

    <button class="btn btn-primary pull-right">{% trans "Next" %}</button>


{% endblock %}
