{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block title %}
    {% trans "Now the real task starts." %}
{% endblock %}

{% block content %}
<p>{% trans "You now see a table that lists all possible average contributions from other group members (all integers between 0 and 10)." %}<br/>
{% trans "For each average contribution possible from other members, how much would you want to put in the project?" %}</p>

    {% formfield player.contribution_back_0 with label=contribution_back_0_label %}
    {% formfield player.contribution_back_1 with label=contribution_back_1_label %}
    {% formfield player.contribution_back_2 with label=contribution_back_2_label %}
    {% formfield player.contribution_back_3 with label=contribution_back_3_label %}
    {% formfield player.contribution_back_4 with label=contribution_back_4_label %}
    {% formfield player.contribution_back_5 with label=contribution_back_5_label %}
    {% formfield player.contribution_back_6 with label=contribution_back_6_label %}
    {% formfield player.contribution_back_7 with label=contribution_back_7_label %}
    {% formfield player.contribution_back_8 with label=contribution_back_8_label %}
    {% formfield player.contribution_back_9 with label=contribution_back_9_label %}
    {% formfield player.contribution_back_10 with label=contribution_back_10_label %}
    <p>
        <button class="btn btn-primary">{% trans "Next" %}</button>
    </p>

{% endblock %}
