{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
<p>{% trans "On the next page, you decide how much of your {{amount}} you want to transfer to the common project." %}<p>
<p>{% trans "You will be asked to do it in two different situations:" %}<br/>
{% trans "In the first step, you simply decide how much of your {{amount}} you want to put into the common project." %}<br/>
{% trans "In the second step, you have the opportunity to decide upon your contribution based on the contribution of other group members." %}</p>

<button class="btn btn-primary pull-right">{% trans "Next" %}</button>
{% endblock %}
