{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block title %}
    {% trans "Congratulations!" %}
{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<input id="timer" type="hidden" name="total_time" value="" />

<p>{% trans "You have finished the second task. Let’s move on to the third task." %}</p>
<p><button class="btn btn-primary">{% trans "Next" %}</button></p>

<script type="text/javascript">
  $(function() {
    var startTime = '{{start_time}}',
        endTime = new Date(),
        sec = moment(endTime).diff(startTime) / 1000;

    $('#timer').val(sec);
  });
</script>



{% endblock %}
