{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Solution to Understanding Question 1 of 1
{% endblock %}

{% block content %}


    <p>
        Your answer <span  class="text-info">{{ player.question }}</span> was {% if player.question_correct %}<span class="text-success">correct</span>
        {% else %}<span class="text-danger">incorrect.</span>{% endif %}
    </p>
    <p>
        Suppose in a group, 1 participant contributed €8, 1 participant contributed 4,
        and 1 participant contributed nothing. What would be the payoff of the participant who contributed €8?
    </p>

    <p>
        <strong>Solution: €9.2</strong>
    </p>

    <p>
        <strong>Explanation:</strong> Total contribution from all participants was 8+4+0=12. Total earnings from the project were 12*1.8=21.6.
        Each participant got an equal share of the earnings, that is, 21.6/3=7.2. Hence, payoff for the participant who contributed 8 points
        was 10-8+7.2=9.2.
    </p>
    {% next_button %}

    {% include 'public_goods/Instructions.html' %}

{% endblock %}
