{% extends "global/Instructions.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block instructions %}
<p>{% trans "In the second task, groups of 4 participants (yourself and 3 other people) are randomly formed." %}<br/>
{% trans "Reminder: The participants in your group are different from the one you interacted with in the previous task." %}</p>
<p>{% trans "At the beginning of the task, each group member receives 10 Euro. Each member of the group must choose how many Euros to keep and how much will be transferred into a common project." %}
<br/>{% trans "The total amount transferred into the common project is multiplied by 1,6." %}</p>
<p>{% trans "In the end, the money in the common project is split equally between the 4 group members (including yourself)." %}</p>

<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="{% static "public_goods/public_goods_demo.js" %}"></script>

<script>
var canvas, stage, exportRoot;
function init() {
  canvas = document.getElementById("canvas");
  exportRoot = new lib.public_good_demo();

  stage = new createjs.Stage(canvas);
  stage.addChild(exportRoot);
  stage.update();

  createjs.Ticker.setFPS(lib.properties.fps);
  createjs.Ticker.addEventListener("tick", stage);
}
$(function() { init() });
</script>
<canvas
  id="canvas"
  class="canvas"
  width="600"
  height="480"
  style="background-color:#CCD1DB"
  data-estimation-min="5"
  data-estimation-max="10"
  data-estimation-currency="{% trans '€'%}"
  data-multipler="1.6">
</canvas>

{% endblock %}
