{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Understanding Question 1 of 1
{% endblock %}

{% block content %}
    <p>
        Suppose in a group, 1 participant contributed €8, 1 participant contributed 4, and 1 participant contributed nothing.
        What would be the payoff of the participant who contributed €8?
    </p>

    {% formfield player.question with label="His payoff would be" %}

    {% next_button %}

    {% include 'public_goods/Instructions.html' %}

{% endblock %}
