{% extends "global/Simulation.html" %}
{% load staticfiles otree_tags %}

{% block content %}
<p>
Demo...
</p>

<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="{% static "public_good/public_good_demo.js" %}"></script>

<script>
var canvas, stage, exportRoot;
function init() {
  canvas = document.getElementById("canvas");
  exportRoot = new lib.public_good_demo();

  stage = new createjs.Stage(canvas);
  stage.addChild(exportRoot);
  stage.update();

  createjs.Ticker.setFPS(lib.properties.fps);
  createjs.Ticker.addEventListener("tick", stage);
}
$(function() { init() });
</script>
<div class="container">
  <canvas id="canvas" width="600" height="480"
          style="background-color:#CCD1DB"
          class="col-sm-6 col-md-6 col-lg-6">
  </canvas>
</div>

{% endblock %}
