{% extends "global/Simulation.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
<h1>{% trans "Task 2: Test Simulation" %}</h1>
<hr/>
<p>{% trans "If you wish, you can use this test screen to play with different choices of the four participants, to understand the task better." %}</p>
<p>{% trans "Whenever you are ready to proceed to the real task, click next." %}</p>

<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="{% static "public_goods/public_goods_simulation.js" %}"></script>
<style>.page-header{display: none}</style>
<script>
var canvas, stage, exportRoot;
function init() {
  canvas = document.getElementById("canvas");
  exportRoot = new lib.public_good_simulation();

  stage = new createjs.Stage(canvas);
  stage.addChild(exportRoot);
  stage.update();

  createjs.Ticker.setFPS(lib.properties.fps);
  createjs.Ticker.addEventListener("tick", stage);

  var $amountA = $('#amountA'),
      $amountB = $('#amountB'),
      $amountC = $('#amountC'),
      $amountD = $('#amountD'),
      MAX = 10;

  $amountA.change(function (e) {
    e.preventDefault();
    window.PG.giveMoney(0, e.target.value);
  });

  $amountB.change(function (e) {
    e.preventDefault();
    window.PG.giveMoney(1, +e.target.value);
  });

  $amountC.change(function (e) {
    e.preventDefault();
    window.PG.giveMoney(2, +e.target.value);
  });

  $amountD.change(function (e) {
    e.preventDefault();
    window.PG.giveMoney(3, +e.target.value);
  });

  $('#send').click(function (e) {
    e.preventDefault();
    $amountA.val(0);
    $amountB.val(0);
    $amountC.val(0);
    $amountD.val(0);
    window.PG.send();
  });
}

$(function() { init() });
</script>

<div class="container">
  <canvas id="canvas" width="600" height="480"
          style="background-color:#CCD1DB"
          class="col-sm-6 col-md-6 col-lg-6"
          data-estimation-min="0"
          data-estimation-max="10"
          data-estimation-currency="{% trans '€'%}"
          data-multipler="1.6">
  </canvas>
  <div class="form commands">
    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
      <label for="amount">{% trans "Amount sent by Participant A" %}</label>
      <input class="form-control" type="number" id="amountA" min="0" max="10" placeholder="0">
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
      <label for="amount">{% trans "Amount sent by Participant B" %}</label>
      <input class="form-control" type="number" id="amountB" min="0" max="10" placeholder="0">
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
      <label for="amount">{% trans "Amount sent by Participant C" %}</label>
      <input class="form-control" type="number" id="amountC" min="0" max="10" placeholder="0">
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
      <label for="amount">{% trans "Amount sent by Participant D" %}</label>
      <input class="form-control" type="number" id="amountD" min="0" max="10" placeholder="0">
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-6 col-md-offset-6 col-lg-offset-6 form-group">
      <a class="btn btn-default col-sm-12 col-md-12 col-lg-12" id="send">{% trans "Send" %}</a><br/><br/><br/>
      <button class="btn btn-primary col-sm-12 col-md-12 col-lg-12" id="next">{% trans "Next" %}</button>
    </div>

  </div>

</div>

{% endblock %}
