{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>

  <input type="hidden" id="income_groups" name="income_groups">
  <input type="hidden" id="gender_age_groups" name="gender_age_groups">

  <!--
  <p>Quota: {{quotas}} </p>
  <p>Total population: {{total_population}} </p>
  <p>Label: {{label}} </p>
  <p>Language: {{language_code}}</p>
  <p>Redirects: {{redirects}}</p>
  -->

  <script type="text/javascript">
    $(function () {
      var locale = extractLang('{{language_code}}');
      var labelData = getLabelData('{{label}}');

      var quotaData;
      var gmiRedirections;
      var totalPopulation;
      var genderAgeQuota;
      var incomeQuota;
      var isQuotaFull;

      function extractLang(lang) {
        return lang.length > 2 ? lang.slice(0, 2) : lang;
      }

      function getLabelData(data) {
        return data.split('|').map(function (chunk) {
          var o = {};
          o[chunk.split('=')[0]] = chunk.split('=')[1] || true
          return o;
        })
      }

      if (locale === 'ko') {
        // We just need the participant_label variable
        // that is stored by default. So proceed.
        $('#form').submit();
      } else {
        quotaData = JSON.parse('{{quotas}}'.split('&#39;').join('"'));
        gmiRedirections = JSON.parse('{{redirects}}'.split('&#39;').join('"'));
        totalPopulation = +{{total_population}};
        genderAgeQuota = getGenderAge(labelData);
        incomeQuota = getIncome(labelData);
        isQuotaFull = false;

        // Test quotas.
        // Increment if test passes. Mark if test fails.
        testQuota('gender_age_groups', genderAgeQuota, quotaData, totalPopulation)
        // testQuota('income_groups', incomeQuota, quotaData, totalPopulation);

        if (!isQuotaFull) {
          // Populate with data (maybe updated) to store for the next round/player.
          $('#income_groups').val(JSON.stringify(quotaData.income_groups));
          $('#gender_age_groups').val(JSON.stringify(quotaData.gender_age_groups));
          redirect('next');
        } else {
          console.log('Quota full -- redirecting...')
          redirect('quota_full', gmiRedirections);
        }

        function testQuota(name, key, base, population) {
          // For gender/age, preprocess key to see if given age
          // falls into known ranges.
          if (name === 'gender_age_groups') {
            key = makeAgeFallIntoRanges(key, base);
          }

          if (Math.round(base[name][key].currently) < Math.round(base[name][key].expected)) {
            incrementQuota(name, key, base, population)
          } else {
            isQuotaFull = true;
          }
        }

        function makeAgeFallIntoRanges(key, data) {
          var range;

          Object.keys(data.gender_age_groups).some(function (label) {
            // Test on proper gender by comparing codes.
            if (key.slice(0, 1) === label.slice(0, 1)) {
              // Test if given age falls into range.
              if (+key.slice(2) >= +label.slice(2, 4) && +key.slice(2) <= +label.slice(5, 8)) {
                range = label;
                return true;
              }
            }
          });

          return range;
        }

        function incrementQuota(name, key, data, population) {
          data[name][key].currently = (+data[name][key].currently + 1);
        }

        function getGenderAge(data) {
          var gender = '';
          var age = '';

          data.forEach(function (d) {
            if (d.hasOwnProperty('p')) gender = d.p;
            if (d.hasOwnProperty('g')) age = d.g;
          });

          return gender + '_' + age;
        }

        function getIncome(data) {
          var income = '';

          data.some(function (d) {
            if (d.hasOwnProperty('inc')) {
              income = d.inc;
              return true;
            }
          });

          return income;
        }

        function redirect(type, gmiRedirections) {
          if (type === 'next') {
            $('#form').submit();
            return;
          }

          if (gmiRedirections && gmiRedirections.hasOwnProperty(type)) {
            var url = generateGmiRedirection(type, '{{label}}', gmiRedirections);
            window.location.href = url;
          }
        }

        function generateGmiRedirection(type, label, redirections) {
          var fragment = label.split('|').filter(function (f) {
            if (f.indexOf('ac') > -1 || f.indexOf('sc') > -1 || f.indexOf('sn') > -1) {
              return f;
            }
          }).join('&');

          return redirections[type] + '&' + fragment + '&lang=' + locale;
        }
      }
    })
  </script>
{% endblock %}
