{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load static %}


{% block scripts %}
  <script src={% static "js/iat.js" %}></script>
  <style type="text/css">
    body {
      background-color: black;
      color: white;
    }
    .word {
      color: green;
    }
    .page-header {
      border: none;
    }
    .well {
      display: none;
    }

    .v-align {
      float: none;
      display: inline-block;
      vertical-align: middle;
    }
  </style>
  <script>
    var data = {{Constants.data|safe}};
    IAT.begin(data)
       .then(function(results) {
         //console.log(results);
         $('input[name="iat_results"]').val(JSON.stringify(results));
         $('#form').submit();
       })
  </script>
{% endblock %}

{% block content %}

    <style>
      #iat_test {
        text-align: center;
        font-size: 30px;
      }

      .wrong-answer {
        display: block;
        opacity: 1;
        position: absolute;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        margin-top: -245px;
        font-size: 300px;
        font-weight: 700;
        color: red;
        opacity: 0;
      }

    </style>

    <input type="hidden" name="iat_results" />

    <main id="iat_test">
      <div class="row">
        <div class="category left v-align col-xs-3 col-sm-3 col-md-3 col-lg-3">LEFT</div>
        <div class="stimuli v-align col-xs-3 col-sm-3 col-md-3 col-lg-3">stimuli</div>
        <div class="category right v-align col-xs-3 col-sm-3 col-md-3 col-lg-3">RIGHT</div>
      </div>
      <div class="wrong-answer">✕</div>
    </main>

{% endblock %}
