{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}


{% block scripts %}
  <script src="/static/js/iat.js"></script>
  <script>
    var data = {{data|safe}},
        order = '{{order}}',
        lang = '{{lang}}',
        participant = {
          id: '{{participant_id}}',
          code: '{{participant_code}}',
          label: '{{participant_label}}'
        };

    data.participant = participant;

    IAT.begin(data, order, lang)
       .then(function(results) {
         console.log(results);
         $('input[name="iat_meta"]').val(results.meta);
         $('input[name="iat_successes"]').val(results.successes);
         $('input[name="iat_failures"]').val(results.failures);
         $('#form').submit();
       })
  </script>
{% endblock %}

{% block content %}
    <style>
      body {
        background-color: rgb(22, 47, 62);
        color: white;
        padding-top: 50px;
      }

      .page-header {
        border: none;
      }
      .well {
        display: none;
      }

      .v-align {
        float: none;
        display: inline-block;
        vertical-align: middle;
      }

      #iat_test {
        text-align: center;
        font-size: 30px;
        height: 420px;
      }

      .wrong-answer {
        display: block;
        position: relative;
        width: 500px;
        left: 50%;
        margin-left: -250px;
        margin-top: -150px;
        font-size: 500px;
        font-weight: 700;
        font-weight: 700;
        color: red;
        opacity: 0;
      }

      .pause-message {
        display: block;
        position: relative;
        width: 800px;
        margin-left: -400px;
        height: 400px;
        margin-top: -100px;
        font-size: 16px;
        color: #FFF;
        top: 50%;
        left: 50%;
        text-align: center;
      }

      .mobile-nav {
        position: absolute;
        bottom: 60px;
        width: 90vw;
        left: 5%;
      }

      .btn-left {
        position: absolute;
        float: left;
      }

      .btn-left {
        float: right;
      }

      @media only screen and (min-width : 768px) {
        .body {
          padding-top: 20px;
        }

        .pause-message {
          margin-top: -160px;
          font-size: 15px;
          height: auto;
        }

        .category {
          font-size: 28px;
        }
      }

      .btn {
        height: 80px;
      }

      .category {
        color: #519839;
      }

      .stimuli {
        top: 230px;
      }

    </style>

    <input type="hidden" name="iat_meta" />
    <input type="hidden" name="iat_successes" />
    <input type="hidden" name="iat_failures" />

    <main id="iat_test">
      <div class="row">
        <div class="category left v-align col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="stimuli v-align col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="category right v-align col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
      </div>
      <div class="pause-message"></div>
      <div class="wrong-answer">✕</div>

    </main>

    <nav class="mobile-nav hide">
      <button class="btn btn-default btn-left col-xs-2 col-sm-2 col-md-2 col-lg-2">LEFT</button>
      <button class="btn btn-default btn-right col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-xs-2 col-sm-2 col-md-2 col-lg-2">RIGHT</button>
    </nav>

    <script>
      $('.btn').on('click touchstart', function (e) {
        e.preventDefault();
      });
      if ('ontouchstart' in document.documentElement) {
        $('.mobile-nav').removeClass('hide')
      }
    </script>
{% endblock %}
