{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
<style>
.page-header {display: none}
</style>
<h1>{% trans "Words Task" %}</h1>
<hr/>
<div class="hidden-xs">
  <p>{% trans "Put your middle or index fingers on the <strong>E</strong> and <strong>I</strong> keys of your keyboard. In this part of the study, words representing categories will appear one-by-one in the middle of the screen. Two labels at the top will tell you which words go with each key." %}</p>
  <p>{% trans "When the item belongs to a category on the <strong>left</strong>, press the <strong>E</strong> key; when the item belongs to a category on the <strong>right</strong>, press the <strong>I</strong> key. Each word has an easy correct classification and belongs to only one category. If you make an error, an X will appear – fix the error by hitting the other key." %}</p>
  <p>{% trans "A few rules to remember:" %}</p>
  <ul>
    <li>{% trans "Keep your index fingers on the E and I keys to enable rapid response." %}</li>
    <li>{% trans "The test gives no results if you go slow. Please try to go as fast as possible." %}</li>
    <li>{% trans "Expect to make a few mistakes because of going fast. That's OK." %}</li>
    <li>{% trans "For best results, avoid distractions and stay focused." %}</li>
  </ul>
  <h3>{% trans "Press the space bar to begin." %}</h3>
</div>

<div class="hidden-sm hidden-md hidden-lg">
  <p>{% trans "Put your middle or index fingers on the <strong>LEFT</strong> and <strong>RIGHT</strong> buttons. In this part of the study, words representing categories will appear one-by-one in the middle of the screen. Two labels at the top will tell you which words go with each key." %}</p>
  <p>{% trans "When the item belongs to a category on the <strong>left</strong>, tap the <strong>LEFT</strong> button; when the item belongs to a category on the <strong>right</strong>, press the <strong>RIGHT</strong> button. Each word has an easy correct classification and belongs to only one category. If you make an error, an X will appear – fix the error by hitting the other key." %}</p>
  <p>{% trans "A few rules to remember:" %}</p>
  <ul>
    <li>{% trans "Keep your index fingers on the LEFT and RIGHT buttons to enable rapid response." %}</li>
    <li>{% trans "The test gives no results if you go slow. Please try to go as fast as possible." %}</li>
    <li>{% trans "Expect to make a few mistakes because of going fast. That's OK." %}</li>
    <li>{% trans "For best results, avoid distractions and stay focused." %}</li>
  </ul>
  <h3>{% trans "Tap the NEXT button to begin." %}</h3>
</div>

<button class="btn btn-primary hidden-sm hidden-md hidden-lg">{% trans "Next" %}</button>
<script type="text/javascript">
  $(function() {
    $(document).keyup(function (e) {
      e.preventDefault();
      if (e.keyCode === 32) {
        window.scrollTo(0, 0);
        $('button').click()
      }
    });
  });
</script>

{% endblock %}
