{% load i18n %}

{% trans "Put your middle or index fingers on the <strong>E</strong> and <strong>I</strong> keys of your keyboard." %}
{% trans "Items representing the categories at the top will appear one-by-one in the middle of the screen." %}
{% trans "When the item belongs to a category on the left, press the <strong>E</strong> key." %}
{% trans "When the item belongs to a category on the right, press the <strong>I</strong> key." %}
{% trans "Items belong to only one category. If you make an error, an <span style=\"color:red\">X</span> will appear - fix the error by hitting the other key." %}
{% trans "This is a timed sorting task. <strong>FO AS FAST AS YOU CAN</strong> while making as few mistakes as possible." %}
{% trans "Going too slow or making too many errors will result in an uninterpretable score." %}
{% trans "Press the <strong>space bar</strong> to begin." %}

{% trans "<strong>See above, the categories have changed.</strong> The items for sorting have changed as well." %}
{% trans "The rules, however, are the same." %}
{% trans "When the items belongs to a category on the left, press the <strong>E</strong> key." %}
{% trans "When the item belongs to a categoru of the right, press the I key. Items belong to only one category." %}
{% trans "<strong>GO AS FAST AS YOU CAN.</strong>" %}
{% trans "Press the <strong>space bar</strong> to begin." %}

{% trans "Trustworthy --- Untrustworthy --- Truthful" %}
{% trans "Trustworthy --- Untrustworthy --- Moral" %}
{% trans "Trustworthy --- Untrustworthy --- Truthful" %}
{% trans "Trustworthy --- Untrustworthy --- Lying" %}
{% trans "Trustworthy --- Untrustworthy --- Transparent" %}
{% trans "Trustworthy --- Untrustworthy --- Corrupt" %}
{% trans "Trustworthy --- Untrustworthy --- Immoral" %}
{% trans "Trustworthy --- Untrustworthy --- Lying" %}
{% trans "Trustworthy --- Untrustworthy --- Inefficient" %}
{% trans "Trustworthy --- Untrustworthy --- Capable" %}
{% trans "Trustworthy --- Untrustworthy --- Skilful" %}
{% trans "Trustworthy --- Untrustworthy --- Inefficient" %}
{% trans "Trustworthy --- Untrustworthy --- Unskilled" %}
{% trans "Trustworthy --- Untrustworthy --- Inexperienced" %}
{% trans "Trustworthy --- Untrustworthy --- Proficient" %}
{% trans "Trustworthy --- Untrustworthy --- Immoral" %}
{% trans "Trustworthy --- Untrustworthy --- Unskilled" %}
{% trans "Trustworthy --- Untrustworthy --- Moral" %}

{% trans "Trustworthy or Government --- Untrustworthy --- Constitution" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Regulation" %}
{% trans "Trustworthy or Government --- Untrustworthy --- State" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Civil servants" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Moral" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Truthful" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Public administration" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Constitution" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Inefficient" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Proficient" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Skilful" %}
{% trans "Trustworthy or Government --- Untrustworthy --- State" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Immoral" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Capable" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Civil servants" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Regulation" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Transparent" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Proficient" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Unskilled" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Lying" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Skilful" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Inexperienced" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Corrupt" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Truthful" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Capable" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Immoral" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Moral" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Inexperienced" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Transparent" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Public administration" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Civil servants" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Inefficient" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Unskilled" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Politicians" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Regulation" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Lying" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Corrupt" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Immoral" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Inefficient" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Lying" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Corrupt" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Unskilled" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Inexperienced" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Truthful" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Lying" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Moral" %}
{% trans "Trustworthy or Government --- Untrustworthy --- Immoral" %}

{% trans "Trustworthy --- Untrustworthy orGovernment --- Unskilled" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Truthful" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Capable" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Public administration" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Proficient" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Transparent" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Civil servants" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Skilful" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Inefficient" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Regulation" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Immoral" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Lying" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- State" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Constitution" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Public administration" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Moral" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Corrupt" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Skilful" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Capable" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Civil servants" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Truthful" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Proficient" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Moral" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Inexperienced" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- State" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Transparent" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Corrupt" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Moral" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Constitution" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Capable" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Unskilled" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Skilful" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Lying" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Proficient" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Truthful" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Inexperienced" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Transparent" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Immoral" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Regulation" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Proficient" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Inefficient" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Regulation" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Constitution" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Transparent" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Lying" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- State" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Corrupt" %}
{% trans "Trustworthy --- Untrustworthy orGovernment --- Civil servants" %}

{% trans "Trustworthy or Judicial System --- Untrustworthy --- Corrupt" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Lawyer" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Prosecutor" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Supreme Court" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Court" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Justice department" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Transparent" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Proficient" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Justice department" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Lawyer" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Truthful" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Capable" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Lying" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Judge" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Skilful" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Court" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Supreme Court" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Judge" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Lawyer" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Moral" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Proficient" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Unskilled" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Capable" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Immoral" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Inexperienced" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Truthful" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Inefficient" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Prosecutor" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Corrupt" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Immoral" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Moral" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Skilful" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Transparent" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Judge" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Inefficient" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Lying" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Inexperienced" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Transparent" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Unskilled" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Unskilled" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Lying" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Corrupt" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Immoral" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Inexperienced" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Proficient" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Inefficient" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Immoral" %}
{% trans "Trustworthy or Judicial System --- Untrustworthy --- Lying" %}

{% trans "Trustworthy or Judicial System --- Moral" %}
{% trans "Trustworthy or Judicial System --- Judge" %}
{% trans "Trustworthy or Judicial System --- Court" %}
{% trans "Trustworthy or Judicial System --- Justice department" %}
{% trans "Trustworthy or Judicial System --- Proficient" %}
{% trans "Trustworthy or Judicial System --- Lawyer" %}
{% trans "Trustworthy or Judicial System --- Inefficient" %}
{% trans "Trustworthy or Judicial System --- Supreme Court" %}
{% trans "Trustworthy or Judicial System --- Capable" %}
{% trans "Trustworthy or Judicial System --- Truthful" %}
{% trans "Trustworthy or Judicial System --- Judge" %}
{% trans "Trustworthy or Judicial System --- Skilful" %}
{% trans "Trustworthy or Judicial System --- Immoral" %}
{% trans "Trustworthy or Judicial System --- Inexperienced" %}
{% trans "Trustworthy or Judicial System --- Transparent" %}
{% trans "Trustworthy or Judicial System --- Moral" %}
{% trans "Trustworthy or Judicial System --- Lying" %}
{% trans "Trustworthy or Judicial System --- Unskilled" %}
{% trans "Trustworthy or Judicial System --- Truthful" %}
{% trans "Trustworthy or Judicial System --- Court" %}
{% trans "Trustworthy or Judicial System --- Prosecutor" %}
{% trans "Trustworthy or Judicial System --- Judge" %}
{% trans "Trustworthy or Judicial System --- Transparent" %}
{% trans "Trustworthy or Judicial System --- Capable" %}
{% trans "Trustworthy or Judicial System --- Proficient" %}
{% trans "Trustworthy or Judicial System --- Skilful" %}
{% trans "Trustworthy or Judicial System --- Lawyer" %}
{% trans "Trustworthy or Judicial System --- Capable" %}
{% trans "Trustworthy or Judicial System --- Justice department" %}
{% trans "Trustworthy or Judicial System --- Moral" %}
{% trans "Trustworthy or Judicial System --- Court" %}
{% trans "Trustworthy or Judicial System --- Skilful" %}
{% trans "Trustworthy or Judicial System --- Corrupt" %}
{% trans "Trustworthy or Judicial System --- Immoral" %}
{% trans "Trustworthy or Judicial System --- Corrupt" %}
{% trans "Trustworthy or Judicial System --- Transparent" %}
{% trans "Trustworthy or Judicial System --- Unskilled" %}
{% trans "Trustworthy or Judicial System --- Truthful" %}
{% trans "Trustworthy or Judicial System --- Inexperienced" %}
{% trans "Trustworthy or Judicial System --- Proficient" %}
{% trans "Trustworthy or Judicial System --- Prosecutor" %}
{% trans "Trustworthy or Judicial System --- Inefficient" %}
{% trans "Trustworthy or Judicial System --- Lying" %}
{% trans "Trustworthy or Judicial System --- Transparent" %}
{% trans "Trustworthy or Judicial System --- Lying" %}
{% trans "Trustworthy or Judicial System --- Lawyer" %}
{% trans "Trustworthy or Judicial System --- Corrupt" %}
{% trans "Trustworthy or Judicial System --- Moral" %}

{% trans "Trustworthy or Media --- Untrustworthy --- News" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Transparent" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Capable" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Reporter" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Newspaper" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Inefficient" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Journalist" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Headline" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Truthful" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Reporter" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Headline" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Journalist" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Skilful" %}
{% trans "Trustworthy or Media --- Untrustworthy --- News" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Newspaper" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Corrupt" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Proficient" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Moral" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Unskilled" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Inexperienced" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Immoral" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Lying" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Moral" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Capable" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Skilful" %}
{% trans "Trustworthy or Media --- Untrustworthy --- News" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Lying" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Truthful" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Inexperienced" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Unskilled" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Proficient" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Transparent" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Corrupt" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Immoral" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Skilful" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Inefficient" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Lying" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Inefficient" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Unskilled" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Reporter" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Immoral" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Inexperienced" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Capable" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Corrupt" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Lying" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Newspaper" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Journalist" %}
{% trans "Trustworthy or Media --- Untrustworthy --- Unskilled" %}

{% trans "Trustworthy --- Untrustworthy or Media --- Newspaper" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Reporter" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Transparent" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Journalist" %}
{% trans "Trustworthy --- Untrustworthy or Media --- News" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Truthful" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Unskilled" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Corrupt" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Headline" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Newspaper" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Journalist" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Moral" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Headline" %}
{% trans "Trustworthy --- Untrustworthy or Media --- News" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Reporter" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Capable" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Inefficient" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Proficient" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Skilful" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Proficient" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Transparent" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Capable" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Lying" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Truthful" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Inexperienced" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Skilful" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Immoral" %}
{% trans "Trustworthy --- Untrustworthy or Media --- News" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Moral" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Capable" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Lying" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Inefficient" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Reporter" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Immoral" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Truthful" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Corrupt" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Inexperienced" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Unskilled" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Immoral" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Transparent" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Moral" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Proficient" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Journalist" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Skilful" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Capable" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Inexperienced" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Proficient" %}
{% trans "Trustworthy --- Untrustworthy or Media --- Newspaper" %}

{% trans "Competent --- Incompetent --- Capable" %}
{% trans "Competent --- Incompetent --- Skilful" %}
{% trans "Competent --- Incompetent --- Capable" %}
{% trans "Competent --- Incompetent --- Inefficient" %}
{% trans "Competent --- Incompetent --- Proficient" %}
{% trans "Competent --- Incompetent --- Unskilled" %}
{% trans "Competent --- Incompetent --- Inexperienced" %}
{% trans "Competent --- Incompetent --- Inefficient" %}
{% trans "Competent --- Incompetent --- Useless" %}
{% trans "Competent --- Incompetent --- Smart" %}
{% trans "Competent --- Incompetent --- Reliable" %}
{% trans "Competent --- Incompetent --- Useless" %}
{% trans "Competent --- Incompetent --- Powerless" %}
{% trans "Competent --- Incompetent --- Weak" %}
{% trans "Competent --- Incompetent --- Bright" %}
{% trans "Competent --- Incompetent --- Inexperienced" %}
{% trans "Competent --- Incompetent --- Powerless" %}
{% trans "Competent --- Incompetent --- Skilful" %}

{% trans "Competent or Government --- Incompetent --- Constitution" %}
{% trans "Competent or Government --- Incompetent --- Regulation" %}
{% trans "Competent or Government --- Incompetent --- State" %}
{% trans "Competent or Government --- Incompetent --- Civil servants" %}
{% trans "Competent or Government --- Incompetent --- Skilful" %}
{% trans "Competent or Government --- Incompetent --- Capable" %}
{% trans "Competent or Government --- Incompetent --- Public administration" %}
{% trans "Competent or Government --- Incompetent --- Constitution" %}
{% trans "Competent or Government --- Incompetent --- Public administration" %}
{% trans "Competent or Government --- Incompetent --- Useless" %}
{% trans "Competent or Government --- Incompetent --- Bright" %}
{% trans "Competent or Government --- Incompetent --- Reliable" %}
{% trans "Competent or Government --- Incompetent --- State" %}
{% trans "Competent or Government --- Incompetent --- Inexperienced" %}
{% trans "Competent or Government --- Incompetent --- Smart" %}
{% trans "Competent or Government --- Incompetent --- Civil servants" %}
{% trans "Competent or Government --- Incompetent --- Regulation" %}
{% trans "Competent or Government --- Incompetent --- Proficient" %}
{% trans "Competent or Government --- Incompetent --- Bright" %}
{% trans "Competent or Government --- Incompetent --- Powerless" %}
{% trans "Competent or Government --- Incompetent --- Inefficient" %}
{% trans "Competent or Government --- Incompetent --- Reliable" %}
{% trans "Competent or Government --- Incompetent --- Weak" %}
{% trans "Competent or Government --- Incompetent --- Unskilled" %}
{% trans "Competent or Government --- Incompetent --- Capable" %}
{% trans "Competent or Government --- Incompetent --- Smart" %}
{% trans "Competent or Government --- Incompetent --- Inexperienced" %}
{% trans "Competent or Government --- Incompetent --- Skilful" %}
{% trans "Competent or Government --- Incompetent --- Weak" %}
{% trans "Competent or Government --- Incompetent --- Proficient" %}
{% trans "Competent or Government --- Incompetent --- Public administration" %}
{% trans "Competent or Government --- Incompetent --- Civil servants" %}
{% trans "Competent or Government --- Incompetent --- Useless" %}
{% trans "Competent or Government --- Incompetent --- Powerless" %}
{% trans "Competent or Government --- Incompetent --- Politicians" %}
{% trans "Competent or Government --- Incompetent --- Regulation" %}
{% trans "Competent or Government --- Incompetent --- Inefficient" %}
{% trans "Competent or Government --- Incompetent --- Unskilled" %}
{% trans "Competent or Government --- Incompetent --- Inexperienced" %}
{% trans "Competent or Government --- Incompetent --- Useless" %}
{% trans "Competent or Government --- Incompetent --- Inefficient" %}
{% trans "Competent or Government --- Incompetent --- Unskilled" %}
{% trans "Competent or Government --- Incompetent --- Powerless" %}
{% trans "Competent or Government --- Incompetent --- Weak" %}
{% trans "Competent or Government --- Incompetent --- Capable" %}
{% trans "Competent or Government --- Incompetent --- Inefficient" %}
{% trans "Competent or Government --- Incompetent --- Skilful" %}
{% trans "Competent or Government --- Incompetent --- Inexperienced" %}

{% trans "Competent --- Incompetent or Government --- Powerless" %}
{% trans "Competent --- Incompetent or Government --- Capable" %}
{% trans "Competent --- Incompetent or Government --- Smart" %}
{% trans "Competent --- Incompetent or Government --- Public administration" %}
{% trans "Competent --- Incompetent or Government --- Bright" %}
{% trans "Competent --- Incompetent or Government --- Proficient" %}
{% trans "Competent --- Incompetent or Government --- Civil servants" %}
{% trans "Competent --- Incompetent or Government --- Reliable" %}
{% trans "Competent --- Incompetent or Government --- Useless" %}
{% trans "Competent --- Incompetent or Government --- Regulation" %}
{% trans "Competent --- Incompetent or Government --- Inexperienced" %}
{% trans "Competent --- Incompetent or Government --- Inefficient" %}
{% trans "Competent --- Incompetent or Government --- State" %}
{% trans "Competent --- Incompetent or Government --- Constitution" %}
{% trans "Competent --- Incompetent or Government --- Public administration" %}
{% trans "Competent --- Incompetent or Government --- Skilful" %}
{% trans "Competent --- Incompetent or Government --- Unskilled" %}
{% trans "Competent --- Incompetent or Government --- Reliable" %}
{% trans "Competent --- Incompetent or Government --- Smart" %}
{% trans "Competent --- Incompetent or Government --- Civil servants" %}
{% trans "Competent --- Incompetent or Government --- Capable" %}
{% trans "Competent --- Incompetent or Government --- Bright" %}
{% trans "Competent --- Incompetent or Government --- Skilful" %}
{% trans "Competent --- Incompetent or Government --- Weak" %}
{% trans "Competent --- Incompetent or Government --- State" %}
{% trans "Competent --- Incompetent or Government --- Proficient" %}
{% trans "Competent --- Incompetent or Government --- Unskilled" %}
{% trans "Competent --- Incompetent or Government --- Skilful" %}
{% trans "Competent --- Incompetent or Government --- Constitution" %}
{% trans "Competent --- Incompetent or Government --- Smart" %}
{% trans "Competent --- Incompetent or Government --- Powerless" %}
{% trans "Competent --- Incompetent or Government --- Reliable" %}
{% trans "Competent --- Incompetent or Government --- Inefficient" %}
{% trans "Competent --- Incompetent or Government --- Bright" %}
{% trans "Competent --- Incompetent or Government --- Capable" %}
{% trans "Competent --- Incompetent or Government --- Weak" %}
{% trans "Competent --- Incompetent or Government --- Proficient" %}
{% trans "Competent --- Incompetent or Government --- Inexperienced" %}
{% trans "Competent --- Incompetent or Government --- Regulation" %}
{% trans "Competent --- Incompetent or Government --- Bright" %}
{% trans "Competent --- Incompetent or Government --- Useless" %}
{% trans "Competent --- Incompetent or Government --- Regulation" %}
{% trans "Competent --- Incompetent or Government --- Constitution" %}
{% trans "Competent --- Incompetent or Government --- Proficient" %}
{% trans "Competent --- Incompetent or Government --- Inefficient" %}
{% trans "Competent --- Incompetent or Government --- State" %}
{% trans "Competent --- Incompetent or Government --- Unskilled" %}
{% trans "Competent --- Incompetent or Government --- Civil servants" %}

{% trans "Honest --- Dishonest --- Truthful" %}
{% trans "Honest --- Dishonest --- Moral" %}
{% trans "Honest --- Dishonest --- Truthful" %}
{% trans "Honest --- Dishonest --- Lying" %}
{% trans "Honest --- Dishonest --- Transparent" %}
{% trans "Honest --- Dishonest --- Corrupt" %}
{% trans "Honest --- Dishonest --- Immoral" %}
{% trans "Honest --- Dishonest --- Lying" %}
{% trans "Honest --- Dishonest --- Unfair" %}
{% trans "Honest --- Dishonest --- Open" %}
{% trans "Honest --- Dishonest --- Credible" %}
{% trans "Honest --- Dishonest --- Unfair" %}
{% trans "Honest --- Dishonest --- Unscupulous" %}
{% trans "Honest --- Dishonest --- Illegitimate" %}
{% trans "Honest --- Dishonest --- Fair" %}
{% trans "Honest --- Dishonest --- Immoral" %}
{% trans "Honest --- Dishonest --- Unscupulous" %}
{% trans "Honest --- Dishonest --- Moral" %}

{% trans "Honest or Government --- Dishonest --- Corrupt" %}
{% trans "Honest or Government --- Dishonest --- Regulation" %}
{% trans "Honest or Government --- Dishonest --- Constitution" %}
{% trans "Honest or Government --- Dishonest --- State" %}
{% trans "Honest or Government --- Dishonest --- Public administration" %}
{% trans "Honest or Government --- Dishonest --- Civil servants" %}
{% trans "Honest or Government --- Dishonest --- Transparent" %}
{% trans "Honest or Government --- Dishonest --- Fair" %}
{% trans "Honest or Government --- Dishonest --- Civil servants" %}
{% trans "Honest or Government --- Dishonest --- Regulation" %}
{% trans "Honest or Government --- Dishonest --- Truthful" %}
{% trans "Honest or Government --- Dishonest --- Open" %}
{% trans "Honest or Government --- Dishonest --- Lying" %}
{% trans "Honest or Government --- Dishonest --- Politicians" %}
{% trans "Honest or Government --- Dishonest --- Credible" %}
{% trans "Honest or Government --- Dishonest --- Corrupt" %}
{% trans "Honest or Government --- Dishonest --- State" %}
{% trans "Honest or Government --- Dishonest --- Politicians" %}
{% trans "Honest or Government --- Dishonest --- Regulation" %}
{% trans "Honest or Government --- Dishonest --- Moral" %}
{% trans "Honest or Government --- Dishonest --- Credible" %}
{% trans "Honest or Government --- Dishonest --- Unscupulous" %}
{% trans "Honest or Government --- Dishonest --- Open" %}
{% trans "Honest or Government --- Dishonest --- Immoral" %}
{% trans "Honest or Government --- Dishonest --- Illegitimate" %}
{% trans "Honest or Government --- Dishonest --- Truthful" %}
{% trans "Honest or Government --- Dishonest --- Unfair" %}
{% trans "Honest or Government --- Dishonest --- Constitution" %}
{% trans "Honest or Government --- Dishonest --- Corrupt" %}
{% trans "Honest or Government --- Dishonest --- Immoral" %}
{% trans "Honest or Government --- Dishonest --- Moral" %}
{% trans "Honest or Government --- Dishonest --- Credible" %}
{% trans "Honest or Government --- Dishonest --- Transparent" %}
{% trans "Honest or Government --- Dishonest --- Politicians" %}
{% trans "Honest or Government --- Dishonest --- Unfair" %}
{% trans "Honest or Government --- Dishonest --- Lying" %}
{% trans "Honest or Government --- Dishonest --- Illegitimate" %}
{% trans "Honest or Government --- Dishonest --- Transparent" %}
{% trans "Honest or Government --- Dishonest --- Unscupulous" %}
{% trans "Honest or Government --- Dishonest --- Unscupulous" %}
{% trans "Honest or Government --- Dishonest --- Lying" %}
{% trans "Honest or Government --- Dishonest --- Corrupt" %}
{% trans "Honest or Government --- Dishonest --- Immoral" %}
{% trans "Honest or Government --- Dishonest --- Illegitimate" %}
{% trans "Honest or Government --- Dishonest --- Fair" %}
{% trans "Honest or Government --- Dishonest --- Unfair" %}
{% trans "Honest or Government --- Dishonest --- Immoral" %}
{% trans "Honest or Government --- Dishonest --- Lying" %}

{%trans "Honest --- Dishonest or Government --- Moral" %}
{%trans "Honest --- Dishonest or Government --- Politicians" %}
{%trans "Honest --- Dishonest or Government --- Public administration" %}
{%trans "Honest --- Dishonest or Government --- Civil servants" %}
{%trans "Honest --- Dishonest or Government --- Fair" %}
{%trans "Honest --- Dishonest or Government --- Regulation" %}
{%trans "Honest --- Dishonest or Government --- Unfair" %}
{%trans "Honest --- Dishonest or Government --- State" %}
{%trans "Honest --- Dishonest or Government --- Open" %}
{%trans "Honest --- Dishonest or Government --- Truthful" %}
{%trans "Honest --- Dishonest or Government --- Politicians" %}
{%trans "Honest --- Dishonest or Government --- Credible" %}
{%trans "Honest --- Dishonest or Government --- Immoral" %}
{%trans "Honest --- Dishonest or Government --- Illegitimate" %}
{%trans "Honest --- Dishonest or Government --- Transparent" %}
{%trans "Honest --- Dishonest or Government --- Moral" %}
{%trans "Honest --- Dishonest or Government --- Lying" %}
{%trans "Honest --- Dishonest or Government --- Unscupulous" %}
{%trans "Honest --- Dishonest or Government --- Truthful" %}
{%trans "Honest --- Dishonest or Government --- Public administration" %}
{%trans "Honest --- Dishonest or Government --- Constitution" %}
{%trans "Honest --- Dishonest or Government --- Politicians" %}
{%trans "Honest --- Dishonest or Government --- Transparent" %}
{%trans "Honest --- Dishonest or Government --- Open" %}
{%trans "Honest --- Dishonest or Government --- Fair" %}
{%trans "Honest --- Dishonest or Government --- Credible" %}
{%trans "Honest --- Dishonest or Government --- Regulation" %}
{%trans "Honest --- Dishonest or Government --- Open" %}
{%trans "Honest --- Dishonest or Government --- Civil servants" %}
{%trans "Honest --- Dishonest or Government --- Moral" %}
{%trans "Honest --- Dishonest or Government --- Public administration" %}
{%trans "Honest --- Dishonest or Government --- Credible" %}
{%trans "Honest --- Dishonest or Government --- Corrupt" %}
{%trans "Honest --- Dishonest or Government --- Immoral" %}
{%trans "Honest --- Dishonest or Government --- Corrupt" %}
{%trans "Honest --- Dishonest or Government --- Transparent" %}
{%trans "Honest --- Dishonest or Government --- Unscupulous" %}
{%trans "Honest --- Dishonest or Government --- Truthful" %}
{%trans "Honest --- Dishonest or Government --- Illegitimate" %}
{%trans "Honest --- Dishonest or Government --- Fair" %}
{%trans "Honest --- Dishonest or Government --- Constitution" %}
{%trans "Honest --- Dishonest or Government --- Unfair" %}
{%trans "Honest --- Dishonest or Government --- Lying" %}
{%trans "Honest --- Dishonest or Government --- Transparent" %}
{%trans "Honest --- Dishonest or Government --- Lying" %}
{%trans "Honest --- Dishonest or Government --- Regulation" %}
{%trans "Honest --- Dishonest or Government --- Corrupt" %}
{%trans "Honest --- Dishonest or Government --- Moral" %}
