{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content %}

<input id="epoch" type="hidden" name="epoch" value="">
<input id="timer" type="hidden" name="global_time_in_seconds" value="">
<button id='next' class="btn btn-primary pull-right" style="display: none;"></button>

<script type="text/javascript">
  $(function() {
    var startTime = {{global_time_start}},
        endTime = {{global_time_stop}},
        diff = endTime - startTime;

    $('#epoch').val(endTime);
    $('#timer').val(diff);

    console.log('Starting timer - ' + startTime);
    console.log('Ending timer - ' + endTime);
    console.log('Seconds played - ' + diff);

    $('form').submit();
  });
</script>

{% endblock %}
