{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}
<style>
  label {
    font-weight: normal;
  }
</style>
  <br/><br/><br/><br/><br/>
  <p>
    <div class="form-group required">
    <label class="control-label" for="id__10F_income">Just to confirm, which of these income bands corresponds best to the income of your entire household (the people you share your income and expenditures with). Remember, we are asking for the income of your household, after taxes have been deducted.</label>
      <div class="controls field-_10F_income">
          <ul>
            <li><label for="id__10F_income_1"><input type="radio" id="id__10F_income_1" value="0 to {{value_15000}} euros per year" name="_10F_income" required=""> 0 to {{value_15000}} euros per year</label></li>
            <li><label for="id__10F_income_2"><input type="radio" id="id__10F_income_2" value="{{value_15000}} to {{value_20000}}" name="_10F_income" required=""> {{value_15000}} to {{value_20000}}</label></li>
            <li><label for="id__10F_income_3"><input type="radio" id="id__10F_income_3" value="{{value_20000}} to {{value_25000}}" name="_10F_income" required=""> {{value_20000}} to {{value_25000}}</label></li>
            <li><label for="id__10F_income_4"><input type="radio" id="id__10F_income_4" value="{{value_25000}} to {{value_32000}}" name="_10F_income" required=""> {{value_25000}} to {{value_32000}}</label></li>
            <li><label for="id__10F_income_5"><input type="radio" id="id__10F_income_5" value="{{value_32000}} euro or more per year" name="_10F_income" required=""> {{value_32000}} euro or more per year</label></li>
          </ul>
      </div><!--- .controls -->
    </div>
  </p>

  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>
{% endblock %}
