{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}
<style>
  .controls ul li label {
    color: #357EBD;
  }

  label {font-weight: normal;}
  .control-label {
    font-weight: bold;
  }
  </style>
  <br/><br/><br/><br/><br/>
  <p>
      {% formfield player._04B_your_family %}
      {% formfield player._04B_your_neighbourhood %}
      {% formfield player._04B_personally %}
      {% formfield player._04B_meet_for_the_first_time %}
      {% formfield player._04B_another_religion %}
      {% formfield player._04B_another_nationality %}
  </p>
  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>
{% endblock %}
