{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<input id="timer" type="hidden" name="total_time" value="" />
<h1>{% trans "Thank you very much for entering your choice. We have recorded your decision and are waiting for the other participant to make his or her selection. In the meantime, please proceed to the second task." %}</h1>
<p>{% trans "You have finished task 1. Let’s move on to the second task of this section." %}</p>
<button class="btn btn-primary">{% trans "Next" %}</button>

<script type="text/javascript">
  $(function() {
    var startTime = '{{start_time}}',
        endTime = new Date(),
        sec = moment(endTime).diff(startTime) / 1000;

    $('#timer').val(sec);
  });
</script>
{% endblock %}
