{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
  <h1 style="color:#357EBD">{% trans "Section One: Tasks" %}</h1>

  <p>{% trans "We will start by giving you three tasks. This is the part of the study that will allow you to earn additional money." %}</p>
  <p><strong>{% trans "At the beginning of each task, you will be grouped with other study participants, who are respondents from [country name (France: “France”; Korea: “Korea”)] like you." %}</strong></p>
  <p>{% trans "<strong>In each task, the other participants you are grouped with will be different:</strong> the same person will never be in your group more than once. Note that the other participants may not be online at this exact moment – we will record your and their answers and will match you at the end of the study." %}</p>

  <h3>{% trans "How will your earnings be calculated?" %}</h3>

  <p><strong>{% trans "Your earnings in each task will depend on your and the other participants’ strategic decisions." %}</strong></p>
  <p>{% trans "Your answers in each task will be matched with those of other participants." %}</p>
  <p>
    {% trans "At the end of the study, one of the three tasks you have completed will be randomly selected." %}<br/>
    <strong>{% trans "The amount of money you will receive will correspond to your earnings in this selected task." %}</strong>
  </p>

  <button class="btn btn-primary pull-right">{% trans "Next" %}</button>
{% endblock %}
