{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
  <h1 style="color:#357EBD">{% trans "Section 1: Tasks" %}</h1>

  <p>{% trans "We will start giving you three tasks in total. This is the part of the experiment that will allow you to earn money." %}</p>
  <p><strong>{% trans "At the beginning of each task, you will be grouped with other participants." %}</strong></p>
  <p><strong>{% trans "This people are respondents from France." %}</strong></p>
  <p>{% trans "<strong>The other participants in your group will be different in each task</strong>: the same person will never be in your group more than once. Note that the other participants may not be online at this exact moment, but are participating in the experiment in this wave just like you." %}</p>

  <h3>{% trans "How will your earnings be calculated?" %}</h3>

  <p>{% trans "<strong>Your earnings in each task will depend on your decisions and those of the other participants in your group</strong>." %}</p>
  <p>{% trans "Your answers in each task will be matched with those of other participants." %}</p>
  <p>{% trans "At the end of the study, one of the three tasks will be randomly selected. <strong>The amount of money that you will receive will correspond to your earnings in this task</strong>. The results will be shared with you at the end of the study." %}</p>
  <p>{% trans "There, you will also have the option to donate part of your earnings to the charity UNICEF, should you wish to do so." %}</p>

  <button class="btn btn-primary">{% trans "Next" %}</button>
{% endblock %}
