{% extends "global/Instructions.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block instructions %}
<h1>{% trans "Task One: Introduction" %}</h1>
<hr/>
<p>{% trans "In the first task, <strong>two people participate</strong>: Participant A and Participant B.  This other participant, with whom you will interact only once during the study, also lives in [COUNTRY]. <br/><strong>Your role (A or B) will be revealed at the beginning of the task</strong>." %}</p>
<p>{% trans "Both participants will receive  €10 at the beginning of the game." %}</p>
<p>{% trans "If you are Person A, you must decide how much of your €10 you want to send to Person B. This amount will automatically be multiplied by 3." %}</p>
<p>{% trans "If you are Person B, you have to decide how much, if any, money you want to send back to Person A." %}</p>
<p>{% trans "To better understand, watch the animation below." %}</p>

<input id="timer" type="hidden" name="total_time" value="" />

<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="{% static "trust/trust_demo.js" %}"></script>

<script>
var canvas, stage, exportRoot;
function init() {
  canvas = document.getElementById("canvas");
  exportRoot = new lib.trust_demo();

  stage = new createjs.Stage(canvas);
  stage.addChild(exportRoot);
  stage.update();

  createjs.Ticker.setFPS(lib.properties.fps);
  createjs.Ticker.addEventListener("tick", stage);

  $('#timer').val(new Date());
}
$(function() { init() });
</script>
<canvas
  id="canvas"
  class="canvas"
  width="600"
  height="480"
  style="background-color:#CCD1DB"
  data-currency="{% trans '€'%}"
  data-participants-label-a="Participant A"
  data-participants-label-b="Participant B">
</canvas>

{% endblock %}
