{% extends "global/Instructions.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block instructions %}
<h1>{% trans "Task 1" %}</h1>
<hr/>
<p>{% trans "In the first task, two people participate: Person A and Person B." %}
<br/>{% trans "Your role (A or B) will be revealed at the beginning of the task." %}</p>
<p>{% trans "This other participant, with whom you will interact only once during the study, also lives in [COUNTRY]." %}
<br/>{% trans "Both participants will receive 10 Euro at the beginning of the game." %}</p>
<p>{% trans "If you are Person A, you must decide how much of your 10 Euro you want to send to Person B. This amount will automatically be multiplied by 3." %}<br/>
{% trans "If you are Person B, you have to decide, before knowing the decision of Person A, how much out of each of the amounts that Person A could send you, you want to send back." %}</p>

<input id="timer" type="hidden" name="total_time" value="" />

<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="{% static "trust/trust_demo.js" %}"></script>

<script>
var canvas, stage, exportRoot;
function init() {
  canvas = document.getElementById("canvas");
  exportRoot = new lib.trust_demo();

  stage = new createjs.Stage(canvas);
  stage.addChild(exportRoot);
  stage.update();

  createjs.Ticker.setFPS(lib.properties.fps);
  createjs.Ticker.addEventListener("tick", stage);

  $('#timer').val(new Date());
}
$(function() { init() });
</script>
<canvas
  id="canvas"
  class="canvas"
  width="600"
  height="480"
  style="background-color:#CCD1DB"
  data-currency="{% trans '€'%}"
  data-participants-label-a="Participant A"
  data-participants-label-b="Participant B">
</canvas>

{% endblock %}
