{% extends "global/Instructions.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block instructions %}
<h1 style="color:#357EBD">{% trans "Task One: Introduction" %}</h1>
<hr/>
<p>{% trans "In the first task, <strong>two people participate</strong>: Participant A and Participant B. As mentioned before, this other participant also lives in [country]." %}</p>
<p><strong>{% trans "These are the rules of the task:" %}</strong></p>
<ul>
  <li>{% trans "At the beginning of the task, both participants receive 10 euros." %}</li>

  {% if lang == 'ko' %}
    <li>{% trans "Participant A has the option to transfer none, part or all of his or her 12.000 Won to Participant B." %}</li>
  {% else %}
    <li>{% trans "Participant A has the option to transfer none, part or all of his or her 10 euros to Participant B." %}</li>
  {% endif %}

  <li>{% trans "Whatever amount Participant A sends is multiplied by 3." %}</li>
  <li>{% trans "Participant B, after receiving the transfer of Participant A, has to decide how much, if any, money he or she want to send back to Participant A." %}</li>
</ul>
<p>{% trans "You are asked to make decisions in both role A and B. Which role you will be assigned to for payment will be determined randomly." %}</p>
<p>{% trans "In both cases, your interaction will be with a person who gets randomly assigned to the other role." %}</p>
{% endblock %}
