{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block title %}
   {% trans "Now the real task starts." %}
{% endblock %}

{% block content %}
<p>{% trans "You now see a table that lists all possible average contributions from other group members (all integers between 0 and 10)." %}<br/>
{% trans "For each average contribution possible from other members, how much would you want to put in the project?" %}</p>

    {% formfield group.sent_back_amount_0 with label=sent_back_amount_0_label %}
    {% formfield group.sent_back_amount_1 with label=sent_back_amount_1_label %}
    {% formfield group.sent_back_amount_2 with label=sent_back_amount_2_label %}
    {% formfield group.sent_back_amount_3 with label=sent_back_amount_3_label %}
    {% formfield group.sent_back_amount_4 with label=sent_back_amount_4_label %}
    {% formfield group.sent_back_amount_5 with label=sent_back_amount_5_label %}
    {% formfield group.sent_back_amount_6 with label=sent_back_amount_6_label %}
    {% formfield group.sent_back_amount_7 with label=sent_back_amount_7_label %}
    {% formfield group.sent_back_amount_8 with label=sent_back_amount_8_label %}
    {% formfield group.sent_back_amount_9 with label=sent_back_amount_9_label %}
    {% formfield group.sent_back_amount_10 with label=sent_back_amount_10_label %}
    <button class="btn btn-primary">{% trans "Next" %}</button>

{% endblock %}
