{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
<style type="text/css">label {font-weight: normal;}</style>
<h1 style="color:#357EBD">{% trans "Task 1: Real task" %}</h1>

<p>{% trans "Now the real task 1 starts. Once you have made your decision and clicked the “Next” button, you cannot return to this screen." %}</p>
<p>{% trans "You were selected to be in the role of <strong>Participant A</strong>." %}</p>
<p>{% trans "You have €10 in your possession. <strong>How much do you want to send to Participant B?</strong>" %}</p>
<hr/>
{% formfield player.sent_amount with label=sent_amount_label %}
<p>
<button class="btn btn-primary">{% trans "Next" %}</button>
</p>

{% endblock %}
