{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block content %}
<style type="text/css">label {font-weight: normal;}</style>
<h1 style="color:#357EBD">{% trans "Task One: Real Task continued (Participant A)" %}</h1>

<p>{% blocktrans %}Suppose some Participant A has sent 5 euros, so Participant B receives {{received_by_b}}, making her total budget 10 euros + {{received_by_b}} = {{total_budget_b_str}}.{% endblocktrans %}</p>
<p>{% blocktrans %}What amount do you <strong>expect</strong> Participant B to return to this Participant A?{% endblocktrans %}</p>
<p>{% blocktrans %}Please enter a number from 0 to {{total_budget_b_str}}.{% endblocktrans %}</p>

<hr/>
{% formfield player.expected_return_from_b with label="" %}
<p><button class="btn btn-primary pull-right">{% trans "Next" %}</button></p>

<script>
$(function () {
  $('input').attr('max', '{{total_budget_b_int}}');
});
</script>

{% endblock %}
