{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
<h1>{% trans "Task 1: Real task" %}</h1>

<p>{% trans "Now the real task 1 starts. Once you have made your decision and clicked the “Next” button, you cannot return to this screen." %}</p>
<p>{% trans "You were selected to be in the role of <strong>Participant B</strong>." %}</p>
<p>{% trans "You have €10 in your possession. If Participant A sends you any of the amounts listed in the table below (keep in mind that it is multiplied by 3 each time), <strong>how much money do you want to send back to Participant A</strong>?" %}</p>

    {% formfield group.sent_back_amount_0 with label=sent_back_amount_0_label %}
    {% formfield group.sent_back_amount_1 with label=sent_back_amount_1_label %}
    {% formfield group.sent_back_amount_2 with label=sent_back_amount_2_label %}
    {% formfield group.sent_back_amount_3 with label=sent_back_amount_3_label %}
    {% formfield group.sent_back_amount_4 with label=sent_back_amount_4_label %}
    {% formfield group.sent_back_amount_5 with label=sent_back_amount_5_label %}
    {% formfield group.sent_back_amount_6 with label=sent_back_amount_6_label %}
    {% formfield group.sent_back_amount_7 with label=sent_back_amount_7_label %}
    {% formfield group.sent_back_amount_8 with label=sent_back_amount_8_label %}
    {% formfield group.sent_back_amount_9 with label=sent_back_amount_9_label %}
    {% formfield group.sent_back_amount_10 with label=sent_back_amount_10_label %}
    <button class="btn btn-primary">{% trans "Next" %}</button>

{% endblock %}
