{% extends "global/Simulation.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
{% endblock %}

{% block content %}
<style>
  h1 {
    color:#357EBD
  }

  button[type="button"] {
    margin-right: 1em;
  }

  .c3-axis-x path.domain {
    d: path('M0,1V0H908V1');
  }

  .c3-axis-y path.domain {
    d: path('M -1 1 H 0 V 265.5 H -1');
  }

  line {
    stroke: rgba(0, 0, 0, 0.25);
  }

  .c3-axis line {
    stroke: black;
  }
</style>

<h1>{% trans "Task One: Test Simulation" %}</h1>
<hr/>
<p>{% trans "This is not the real task yet, but a simulation to help you understand the rules better." %}
<p>{% trans "You can use the test screen below to play with the different choices of the two participants." %}
<br>{% trans "Between each test, click the “reset to zero” button below to reset the calculator." %}</p>

<div class="row">
  <div id="chart" class="col-sm-12"></div>
</div>

<div class="row">
  <div class="col-sm-6 col-xs-12">
    <label for="pa">{% trans "Amount sent by Participant A (in €): " %}<span id="sent-label-a">0</span></label>
    <input id="pa" rel="A" class="form-control value5" type="range" min="0" max="10" step="1" value="0" />
  </div>

  <div class="col-sm-6 col-xs-12">
    <label for="pa">{% trans "Amount sent by Participant B (in €): " %}<span id="sent-label-b">0</span></label>
    <input id="pb" disabled rel="B" class="form-control value5" type="range" min="0" max="0" step="1" value="0" />
  </div>
</div>

<div class="row">
  <button class="btn btn-primary">{% trans "Next" %}</button>
  <button class="btn btn-default" type="button">{% trans "Reset to zero" %}</button>
</div>

<script>
  $(function () {
    // Set up chart.
    var initA = 10,
        initB = 0,
        sentA = 0,
        sentB = 0,
        receivedA = 0,
        receivedB = 0,
        finalA = initA,
        finalB = 0,
        multiplier = 3;

    var chart = c3.generate({
      bindto: '#chart',
      size: {
        height: '5%'
      },
      data: {
        columns: [
          ['Sent', sentA, sentB],
          ['Received', receivedA, receivedB],
          ['Final gain', finalA, finalB]
        ],
        colors: {
          'Sent': '#6392b1',
          'Received': '#b9758a',
          'Final gain': '#6c9c71'
        },
        types: {
          'Sent': 'bar',
          'Received': 'bar',
          'Final gain': 'bar',
        },
        labels: true,
        names: {
          participants: 'Amount',
          gains: 'Gain',
          losses: 'Loss'
        }
      },
      axis: {
        x:{
          type: 'category',
          categories: ['Participant A', 'Participant B']
        },
        y: {
          label: {
            text: 'Amounts',
            position: 'outer-middle',
            tick: {
              outer: true
            }
          }
        }
      }
    });

    chart.axis.max({
      y: 30
    });

    // Create interactions.
    var $sliderA = $('#pa'),
        $sliderB = $('#pb'),
        $sentLabelA = $('#sent-label-a'),
        $sentLabelB = $('#sent-label-b');

    $sliderA.on('input', sliderInputHandler);
    $sliderB.on('input', sliderInputHandler);

    function sliderInputHandler(e) {
      update(e.target.getAttribute('rel'), e.target.value);
    }

    function updateParticipantBSlider() {
      if (receivedB > 0) {
        $sliderB.removeAttr('disabled');
      } else {
        $sliderB.attr('disabled', true);
      }

      $sliderB.attr('max', receivedB);
    }


    function updateSentLabels() {
      $sentLabelA.html(sentA);
      $sentLabelB.html(sentB);
    }

    function update(player, val) {
      switch (player) {
        case 'A':
          sentA = +val;
          break;

        case 'B':
          sentB = +val;
          break;
      }

      // Calculations.
      receivedB = sentA * multiplier;
      // Prevent B from sending more than what he/she received!
      sentB = sentB > receivedB ? receivedB : sentB;
      receivedA = sentB;
      finalA = initA - sentA + receivedA;
      finalB = Math.max(initB + receivedB - sentB, 0);

      // Update other UI elements (B's slider, "sent" labels)
      updateParticipantBSlider();
      updateSentLabels();

      chart.load({
        columns: [
          ['Sent', sentA, sentB],
          ['Received', receivedA, receivedB],
          ['Final gain', finalA, finalB]
        ]
      })
    }
  });
</script>
{% endblock %}
