{% extends "global/Simulation.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
<h1>{% trans "Task 1 Simulation" %}</h1>
<hr/>
<p>{% trans "The test choices you make on this screen have no effect on your winnings in this task." %}
{% trans "Between each test, click the “reset to zero” button below to reset the calculator." %}</p>

<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="{% static "trust/trust_simulation.js" %}"></script>

<script>
var canvas, stage, exportRoot;
function init() {
  canvas = document.getElementById("canvas");
  exportRoot = new lib.trust_simulation();

  stage = new createjs.Stage(canvas);
  stage.addChild(exportRoot);
  stage.update();

  createjs.Ticker.setFPS(lib.properties.fps);
  createjs.Ticker.addEventListener("tick", stage);

  var $amountA = $('#amountA');
  var $amountB = $('#amountB');
  var $sendA = $('#sendA');
  var $sendB = $('#sendB');
  var $reset = $('#reset');
  var $next = $('#next')

  var currentTry = 0;
  var REQUIRED_TRIES = 1;

  var playerAFinished = false;
  var playerBFInished = false;

  $sendA.click(function (e) {
    e.preventDefault();

    $reset.attr('disabled', true);

    if (!playerAFinished) {
      var val = $amountA.val();
      if (val >= 0 && val <= 10) {
        for (var i = 0; i < val; i++) {
          window.TRUST.operate.playerPutsOwnMoney(0, 0);
        }
        window.TRUST.operate.moveCart1();
        playerAFinished = true;

        $sendA.attr('disabled', true);
        $amountA.attr('disabled', true);

        setTimeout(function () {
          $sendB.attr('disabled', false);
          $amountB.attr('disabled', false);
        }, 4000);
      }
    }
  });

  $sendB.click(function (e) {
    e.preventDefault();

    if (playerAFinished && !playerBFInished) {
      var val = $amountB.val();
      if (val >= 0 && val <= 10) {
        for (var i = 0; i < val; i++) {
          window.TRUST.operate.incrementFromCartToCart(0, 1);
        }
        window.TRUST.operate.moveCart2();
        playerBFinished = true;

        $sendB.attr('disabled', true);
        $amountB.attr('disabled', true);

        ++currentTry;

        if (currentTry === REQUIRED_TRIES) {
          $reset.addClass('hide');
          $next.attr('disabled', false);
          return;
        }

        $reset.attr('disabled', false);
      }
    }
  });

  $reset.click(function (e) {
    e.preventDefault();

    window.TRUST.reset();

    playerAFinished = playerBFInished = false;

    $sendA.val(0);
    $sendB.attr('disabled', true).val(0);
    $amountA.attr('disabled', false);
    $sendA.attr('disabled', false);
    $amountB.attr('disabled', true);
  });

  setTimeout(function () {
    $('.commands').removeClass('hide')
  }, 3000);

}
$(function() { init() });
</script>
<div class="container">
  <canvas id="canvas" width="600" height="480"
          style="background-color:#CCD1DB"
          class="col-sm-6 col-md-6 col-lg-6">
  </canvas>
  <div class="form commands hide">
    <div class="col-sm-3 col-md-3 col-lg-3 form-group">
      <label for="amount">{% trans "Amount sent by Player A" %}</label>
      <input class="form-control" type="number" id="amountA" min="0" max="10">
      <a class="btn btn-default" id="sendA">{% trans "Send" %}</a>
    </div>
  </div>

  <div class="form commands hide">
    <div class="col-sm-4 col-md-4 col-lg-4 form-group">
      <label for="amount">{% trans "Amount sent by Player B" %}</label>
      <input class="form-control" type="number" id="amountB" min="0" max="10" disabled="disabled">
      <a class="btn btn-default" id="sendB" disabled="disabled">{% trans "Send" %}</a>
    </div>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3 commands hide">
    <br><br>
    <a class="btn btn-warning col-sm-12 col-md-12 col-lg-12" disabled="disabled" id="reset">{% trans "Reset to zero" %}</a>
    <br><br><br>
    <button class="btn btn-primary col-sm-12 col-md-12 col-lg-12" disabled="disabled" id="next">{% trans "Next" %}</button>
  </div>
</div>

{% endblock %}
