{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

<h1>{% trans "Thank once again!" %}</h1>
<p>{% trans "You have completed all tasks in this section and we have recorded all your choices. Let's go to the second section of the study, where you will be asked to sort a number of words and be timed while doing so." %}</p>
<p><button class="btn btn-primary">{% trans "Next" %}</button></p>

{% endblock %}
