{% extends "global/Instructions.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block instructions %}
<h1 style="color:#800080">{% trans "Task Three: Introduction" %}</h1>
<hr/>
<p>{% trans "This last task involves <strong>two participants</strong> – Participant A and Participant B." %}</p>
<p>{% trans "Remember, the other participant is different from the ones you interacted with in the previous two tasks." %}</p>
<p>{% trans "These are the rules:" %}</p>
<ul>
  <li>At the beginning, Participant A receives $10.</li>
  <li>Participant B does not receive any money.</li>
  <li>Participant A must now decide if he or she wants to transfer any of his or her $10 to Participant B.</li>
  <li>This transfer is not multiplied by any number and Participant B cannot transfer any amount back to Participant A.</li>
</ul>
<p><strong>{% trans "Your role (Participant A or Participant B) is revealed to you at the beginning of the task." %}</strong></p>
<p><strong>{% trans "Because this task is simple, there will be no simulator to test out different choices." %}</strong></p>


{% endblock %}
