{% extends "global/Instructions.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block instructions %}
<h1>{% trans "Task 3" %}</h1>
<hr/>
<p>{% trans "This task involves two participants – Person A and Person B. Your role (Player A or B) is revealed to you when making your decision." %}</p>
<p>{% trans "Reminder: The other participant is different from the ones you interacted with in the previous tasks." %}<br />
{% trans "This task is very short and simple: Person A receives $10. Person A must then decide how many dollars of this amount will be transferred to Person B. To better understand, watch the animation below." %}</p>

<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="{% static "dictator/dictator_demo.js" %}"></script>

<input id="timer" type="hidden" name="total_time" value="" />

<script>
var canvas, stage, exportRoot;
function init() {
  canvas = document.getElementById("canvas");
  exportRoot = new lib.dictator_demo();

  stage = new createjs.Stage(canvas);
  stage.addChild(exportRoot);
  stage.update();

  createjs.Ticker.setFPS(lib.properties.fps);
  createjs.Ticker.addEventListener("tick", stage);

  $('#timer').val(new Date());
}
$(function() { init() });
</script>
<canvas id="canvas"
        class="canvas"
        width="600"
        height="480"
        data-estimation-currency="{% trans '€'%}"
        style="background-color:#CCD1DB"
        data-participants-label-a="Participant A"
        data-participants-label-b="Participant B">
</canvas>

{% endblock %}
