{% extends "global/Question.html" %}
{% load i18n %}
{% load otree_tags %}

{% block question %}
<h1 style="color:#800080">{% trans "Task Three: Real Decision" %}</h1>
<p>{% trans "This is the real third task. Once you have made your decision and clicked the “Next” button, you cannot return to this screen." %}</p>
<p>{% trans "You were selected to be in the role of <strong>Participant A</strong>." %}</p>
<p>{% trans "You have 10 euros in your possession. <strong>How much do you want to transfer to Participant B?</strong>" %}</p>
{% endblock %}
