{% extends "global/Simulation.html" %}
{% load staticfiles otree_tags %}

{% block content %}
<h1>Task 3 Simulation</h1>
<hr/>
<p>The test choices you make on this screen have no effect on your winnings in this task.</p>

<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="{% static "dictator/dictator_simulation.js" %}"></script>

<script>
var canvas, stage, exportRoot;
function init() {
  canvas = document.getElementById("canvas");
  exportRoot = new lib.dictator_simulation();

  stage = new createjs.Stage(canvas);
  stage.addChild(exportRoot);
  stage.update();

  createjs.Ticker.setFPS(lib.properties.fps);
  createjs.Ticker.addEventListener("tick", stage);

  $('#amount').change(function (e) {
    e.preventDefault();
    window.DICTATOR.putMoney(e.target.value);
  });

  $('#send').click(function (e) {
    e.preventDefault();
    window.DICTATOR.send();
  });
}

$(function() { init() });
</script>

<div class="container">
  <canvas id="canvas" width="600" height="480"
          style="background-color:#CCD1DB"
          class="col-sm-6 col-md-6 col-lg-6">
  </canvas>
  <div class="form commands">
    <div class="col-sm-3 col-md-3 col-lg-3 form-group">
      <label for="amount">Amount sent by Player A</label>
      <input class="form-control" type="number" id="amount" min="0" max="10" placeholder="0">
      <a class="btn btn-default col-sm-4 col-md-4 col-lg-4" id="send">Send</a>
      <button class="btn btn-primary col-sm-offset-2 col-sm-4 col-md-4 col-lg-4" id="next">Next</button>
    </div>
  </div>

</div>

{% endblock %}
