{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block content %}
  <h3>
  {% trans "Welcome!" %}<br/>
  {% trans "Our research team* invites you to participate in a quick online study on decision-making." %}
  </h3>

  <h3>{% trans "Study information" %}</h3>
  <p>{% trans "The aim of this study is to learn more about how we as human beings behave – how do we make decisions? How do we interact with one another when faced with different choices? How do we feel about the people and institutions around us?" %}</p>
  <p>{% trans "To find this out, you will be participating in different exercises:" %}</p>
  <p>{% trans "In the first part, you will participate in three simple tasks, in anonymous interaction with one or more other people." %}</p>
  <p>{% trans "In the second part, you are going to sort different sets of words." %}</p>
  <p>{% trans "In the third part, we ask you to answer a few questions about yourself and your opinions." %}</p>
  <p>{% trans "The whole study should take you about 25 minutes. Note that <strong>you should complete this study in one sitting</strong>, without any extensive period of inactivity. For best results, minimize distractions and close other programs." %}</p>
  <p style="color:red"><strong>{% trans "If you are having trouble accessing the platform, we advise you to switch to Google Chrome instead." %}</strong></p>

  <h3>{% trans "Payment" %}</h3>
  <p>{% trans "By participating in the study’s tasks, you can earn an amount of up to 40 euros." %}</p>
  <p>
    {% trans "This amount will depend on the strategic decisions you make together with the other participants during the study’s tasks. At the end of the study, one of the several tasks you have completed will be randomly selected." %}<br/>
    <strong>
      {% trans "The amount of money you will receive will correspond to your earnings in this selected task." %}<br>
      {% trans "Remember that your decisions will also affect the earnings that other people will receive!" %}</span>
    </strong>
  </p>
  <p>{% trans "You will receive your points via the usual system." %}</p>
  <p>{% trans "You will receive your additional money at the end of the study via HAPPY MONEY." %}</p>

  <h3>{% trans "Data protection" %}</h3>

  {% if lang == 'fr' %}
    <p>{% trans "The data gathered in this study is subject to European privacy protocols, under the supervision of the European Research Council. We will use it for research purposes only." %}</p>
  {% else %}
    <p>{% trans "The data gathered in this study is subject to strict privacy protocols. We will use it for research purposes only." %}</p>
  {% endif %}

  <button class="btn btn-primary pull-right">{% trans "Begin" %}</button>

  <br><br>

  <h6>{% trans "*including researchers from Sciences Po Paris, Brown University and Kiel University" %}</h6>
{% endblock %}
