{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}
<style>
  label {
    font-weight: normal;
  }

  .control-label {
    font-weight: bold
  }
</style>
  <br/><br/><br/><br/><br/>
  <p>

      <div class="form-group required">

        {% formfield player._10G_income %}
        
        {% formfield player._10G_religion %}

        {% if lang != 'fr' %}

        <label class="control-label" for="id__10G_religion_B">{% trans "Are you:" %}</label>
        <div class="controls  field-_10G_religion_B">
          <ul>
            <li><label for="id__10G_religion_B_1"><input type="radio" id="id__10G_religion_B_1" value="Buddhist" name="_10G_religion_B" required="">{% trans " Buddhist" %}</label></li>
            <li><label for="id__10G_religion_B_2"><input type="radio" id="id__10G_religion_B_2" value="Protestant" name="_10G_religion_B" required="">{% trans " Protestant" %}</label></li>
            <li><label for="id__10G_religion_B_3"><input type="radio" id="id__10G_religion_B_3" value="Catholic" name="_10G_religion_B" required="">{% trans " Catholic" %}</label></li>
            <li><label for="id__10G_religion_B_4"><input type="radio" id="id__10G_religion_B_4" value="Confucian" name="_10G_religion_B" required="">{% trans " Confucian" %}</label></li>
            <li><label for="id__10G_religion_B_5"><input type="radio" id="id__10G_religion_B_5" value="Won Buddhist" name="_10G_religion_B" required="">{% trans " Won Buddhist" %}</label></li>
            <li><label for="id__10G_religion_B_6"><input type="radio" id="id__10G_religion_B_6" value="Other" name="_10G_religion_B" required="">{% trans " Other" %}</label></li>
            <li><label for="id__10G_religion_B_7"><input type="radio" id="id__10G_religion_B_7" value="Not religious" name="_10G_religion_B" required="">{% trans " Not religious" %}</label></li>
            <li><label for="id__10G_religion_B_8"><input type="radio" id="id__10G_religion_B_8" value="I don’t know" name="_10G_religion_B" required="">{% trans " I don’t know" %}</label></li>
          </ul>
        </div><!--- .controls -->

        {% else %}

        <input type="hidden" id="_10G_religion_B_0" value="N/A" name="_10G_religion_B" required="">

        {% endif %}

      </div>
  </p>

  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>
{% endblock %}
