{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}
  <style>
  li {
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
  }

  li:nth-child(12) {
    display: block;
  }

  .controls ul li label {
    color: #357EBD;
  }

  label {font-weight: normal;}
  .control-label {
    font-weight: bold;
  }
  </style>
  <br/><br/><br/><br/><br/>
  <p>
    <strong>{{label}}</strong>
  </p>
  <p>
    <div class="controls field-_02A_altruism">
      <div class="input-group input-group-narrow">
        <span class="input-group-addon">{{money.currency}}</span>
        <input type="number" name="_02A_altruism" value="" required="" min="0" step="0.01" max="{{money.max}}" id="id__02A_altruism" class="form-control">
      </div>
    </div>
  </p>
  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>
{% endblock %}
