{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<input id="timer" type="hidden" name="total_time" value="" />
<br/><br/><br/><br/><br/>
<h3>{% trans "Thank you very much for your participation in this study!" %}</h3>
<p>{% trans "After being matched with the other players, your earnings have been calculated as {{payoff_amount}} euros." %}</p>

<p>{% trans "You were selected to receive your reward based on your earnings in Task One. <br>
As Player A, you decided to transfer {{trust_game_player_a_transfer}} euros to player B. <br>
Following, player B returned {{trust_game_player_b_transfer}} to you. <br>
Therefore, your total payoff for this task is {{payoff_amount}}." %}</p>

<p>{% trans "You were selected to receive your reward based on your earnings in Task One. <br>
As Player A, you decided to transfer {{trust_game_player_a_transfer}} euros to player B. <br>
Following, player B returned {{trust_game_player_b_transfer}} euros to you. <br>
Therefore, your total payoff for this task is {{payoff_amount}} euros." %}</p>

<p>{% trans "You were selected to receive your reward based on your earnings in Task One.
As Player B, you received {{trust_game_player_a_transfer}} euros from player A.<br>
You decided to transfer {{trust_game_player_b_transfer}} euros back to player A<br>
Therefore, your total payoff for this task is {{payoff_amount}} euros %}</p>

<p>{% trans "You were selected to receive your reward based on your earnings in Task Two. <br>
In this task, you invested {{payoff_amount}} into the joint project. The contributions of the other players were:" %}</p>

<ul>
  <li>{{pg_player_b_transfer}} euros</li>
  <li>{{pg_player_c_transfer}} euros</li>
  <li>{{pg_player_d_transfer}} euros</li>
</ul>

<p>Collectively, you invested {{pg_amount}}. Your earnings from the joint project after the multiplication factor are {{pg_multiplied_amount}}. <br>
In total, your payoff for this task is {{payoff_amount}} euros.</p>

<p>You were selected to receive your reward based on your earnings in Task Three. <br>
In this task, you decided to transfer {{dictator_player_a_transfer}} to player B. <br>
Your remaining endowment after the transfer is {{dictator_player_a_remaning}}. <br>
In total, your payoff for this task is {{payoff_amount}} euros. </p>

<p>{% trans "Out of your earnings, you have the option to donate an amount of your choice to UNICEF, who work with children and mothers in developing countries. <br>
You can find further information about their work here. Please enter the amount you wish to donate to UNICEF:</p>

{% formfield player.donation %}

<p>{% trans "(Should you not wish to donate anything at this point, please enter 0)." %}</p>
<p>{% trans "Once again, thank you very much for participating. You will now be redirected in order to collect your reward." %}</p>

<p><button class="btn btn-primary">{% trans "Finish study" %}</button></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<input id="timer" type="hidden" name="total_time" value="" />

<script type="text/javascript">
  $(function() {
    var startTime = '{{start_time}}',
        endTime = new Date(),
        sec = moment(endTime).diff(startTime) / 1000;

    $('#timer').val(sec);
  });
</script>


{% endblock %}
