{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load static %}
{% load i18n %}

{% block script %}
<script src="{% static "/global/custom.js" %}"></script>
{% endblock %}

{% block content %}

<button class="btn btn-primary pull-right" style="display: none;"></button>

<script type="text/javascript">
  $(function() {
    var startTime = {{global_time_start}},
        endTime = {{global_time_stop}},
        threshold = +{{threshold}},
        isSpeedster = (endTime - startTime) < threshold;

    if (isSpeedster) {
      console.log('Participant is a speedster... redirecting.');
      window.location.href = buildRedirectionLink('{{speedsters_redirection}}', '{{label}}');;
    } else {
      console.log('Redirecting to Earnings page.')
      $('form').submit();
    }
  });
</script>

{% endblock %}
