{% extends "global/Base.html" %}
{% load i18n %}
{% load otree_tags %}

{% block content %}
<style>
  .controls ul li label {
    color: #357EBD;
  }

  label {font-weight: normal;}
  .control-label {
    font-weight: bold;
  }
  </style>
  <br/><br/><br/><br/><br/>
  <p>
      {% formfield player._04A_try_to_help_each_other %}
      {% formfield player._04A_try_to_take_advantage_of_you %}
      {% formfield player._04A_can_be_justified %}
  </p>
  <p><button class="btn btn-primary">{% trans "Next" %}</button></p>
{% endblock %}
