{% extends "global/Base.html" %}
{% load otree_tags %}

{% block title %}Study on decision-making  - opportunity to earn up to $40 extra{% endblock %}

{% block content %}
    <h3>
        25 minute study on human decision-making and interaction, opportunity
        of receiving a bonus of up to $40 on top of the HIT reward,
         NEED TO USE CHROME OR FIREFOX
    </h3>
    <p>
        HIT fix fee : 2.5$<br>
        variable bonus up to 40$
    </p>
    <p>
        We are conducting an academic study about human decision-making and behaviour.<br>
        Respondents will be participating in different exercises:<br>
        In the first part, you will participate in three simple tasks, in anonymous interaction with one or more other people.<br>
        Depending on your strategic decisions and those of the other participants, you have the opportunity to <b>earn a bonus of up to $40 on top of the HIT reward</b>.<br>
        In the second part, you are going to sort different sets of words.<br>
        In the third part, we ask you to answer a few questions about yourself and your opinions.<br>
    </p>
    <p>
        Note that you should complete this study in one sitting, without any extensive period of inactivity.<br>
        For best results, minimize distractions and close other programs.
    </p>
    <p><strong>You must use Chrome or Firefox.</strong></p>
{% endblock %}
